a,
#homeservices .service-box a.button .primary-label {
	transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
}
a.button.download {
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
.menu-open .sandwich{
	transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
} 
.menu-open  .sandwich:after{
	transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
}
.menu-close .cross {
	transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}
.share .share-icon{
	transition: fill .3s;
	-moz-transition: fill .3s;
	-webkit-transition: fill .3s;
}

.popuplar-slider .item img,
.cat-item .list .item img,
.catalog-single .item img,
.contact-info {
	transition: opacity .6s;
	-moz-transition: opacity .6s;
	-webkit-transition: opacity .6s;
}

header nav ul li a:after,
.arrow-right,
.arrow-left,
.arrow-down {
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
#homeprojects .item .hover-bg,
#container .item .hover-bg,
#services .service .table-of-content {
	transition: opacity 0.6s ease;
	-moz-transition: opacity 0.6s ease;
	-webkit-transition: opacity 0.6s ease;
}
#container .item .bg-holder {
	transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
}

#container .item .hover-text,
#homeprojects #container .item .h3 {
	transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
}

.soc-icon,
.soc-icon-image,
.employee-item .desc,
.footer-icon-pin,
.footer-icon-mail {
	transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
}

#shareProject .soc-icon {
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

.kwicks li .bottom-block,
.kwicks li .bg-wrapper:after,
.employee-item,
#portfolio #projects_container .item .project-img:after,
a.black-hover:after {
	transition: background-color 0.6s ease;
	-moz-transition: background-color 0.6s ease;
	-webkit-transition: background-color 0.6s ease;
}

.readmore .arrow-right,
.slider-next,
.slider-prev,
.scrolldown,
#swipebox-next,
#swipebox-prev,
.slider-arrow-right,
.slider-arrow-left,
#homeslider .scrolldown .arrow-down,
#homeservices,
#homeservices .service-box,
a.lookmore,
#lookmore-arrow-down {
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
#portfolio #filters button{
	transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
}
#portfolio #filters button:after{
	transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-webkit-transition: background 0.3s ease;
}
#portfolio #projects_container .item .title{
	transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
}

footer .phone a,
.contact-info .phone a,
header .phones ul li .phone {
	transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
}

.share {
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}

/* header scrolling type */
header.animated .logo a {
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}


header #lang_sel_list,
#pusher.animated {
	transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
}

header.animated {
	transition: height 0.6s ease;
	-moz-transition: height 0.6s ease;
	-webkit-transition: height 0.6s ease;
}

header .wrapper {
	transition: background 0.6s ease;
	-moz-transition: background 0.6s ease;
	-webkit-transition: background 0.6s ease;
}


/* keyframe animation */

@-webkit-keyframes pulse_animation {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
