/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body {margin: 0; padding: 0; height: 100%; min-width: 320px;}
header { min-width: 320px;}
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}		
/* font smoothing */
html, html a {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}



article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 0px; width: 100px; border: none; border-top: 2px solid #000000; margin: 1.4em 0 1.4em 0px; padding: 0;}
.homeabout hr {
	border-color: #fff;
}
/*hr.white {border-top: 2px solid #ffffff;}*/

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

img.alignnone {
    width: calc( 100% + 56px );
    width: -moz-calc( 100% + 56px );
    height: auto;
    margin-left: -28px;
}
/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

.clb {clear: both; }
.hidden {display: none}

.Aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}


.Aligner-item--top {
	align-self: flex-start;
}

.Aligner-item--bottom {
	align-self: flex-end;
}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
	font-size: 15px;
	color: #000000;
	letter-spacing: 0px;
	font-family: 'Solomon-Sans-Normal', Verdana, Arial, sans-serif;
}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #000000;}

a {
	font-size: 13px;
	color: #6c6c6c;
	font-style: normal;
}
a:hover {
	color: #e77983;
}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

h1,h2,h3 {
	font-style: normal;
	font-weight: normal;
	line-height: 110%;
	font-family: 'Solomon-Sans-Normal';	
}
h1,h2 { font-size: 41px;}
h3 { font-size: 36px;}
p {
  margin-bottom: 15px;
}
p.label{
	font-size: 13px;
	color: #6c6c6c;
	margin: 0.8em 0 2.4em;
	line-height: 120%;
	letter-spacing: 0.1px;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
}

/* vertical-align: middle*/
	.table {
		display: table;
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		border-collapse: collapse;
	}
	.table .row {
		display: table-row;
	}
	.table .cell {
		display: table-cell;
		padding: 0;
		margin: 0;
	}
	.table .cell.top {
		vertical-align: top;
	}
	.table .cell.middle {
		vertical-align: middle;
	}
	.table .cell.bottom {
		vertical-align: bottom;
	} 
	
/* sticky footer */
	
	#pusher {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -97px;
		padding: 88px 0 97px;
		position: relative;
		background-color: #f4f4f4;
	}
	
	.scrolling #pusher {
		padding-top: 72px;
	}
	.single-projects #pusher,
	.page-template-homepage #pusher,
	.scrolling.single-projects #pusher,
	.scrolling.home #pusher {
		padding-top: 0;
	}
	.about #pusher{
		padding-top: 15px;
	}

	.page-template-about #pusher {background-color: #000;}
	#about {background-color: #fff;}

	footer {
		height: 97px;
		position: relative;
		z-index: 2;
	}
	
	.page-id-14 #pusher,
	.page-id-159 #pusher {
		margin-bottom: -70px;
		padding-bottom: 70px;
	}
	
	.page-id-14 footer,
	.page-id-159 footer {
		height: 70px;
		color: #fff;
	}
	
	.wrapper-special {
		position: absolute;
		width: 100%;
		height: calc(100% - 70px);
		height: -moz-calc(100% - 70px);
		right: 0;
		top: 0;
	}
	*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

/* styles
-------------------------------------------------------------------------------*/
.grey-bg{
	background-color: #f4f4f4;
}
.show639,
.show1023,
a.button.show639{
	display: none;
}

.wrapper{
	padding: 0 50px;
}
.wrapper.limited{
	margin: 0 auto;
	max-width: 1300px;
}

.readmore .arrow-right{
	fill: #000000;
	width: 17px;
	height: 15px;
}
.homeabout .readmore .arrow-right {
	fill: #ffffff;
}
.readmore:hover .arrow-right{
	fill: #e77983;
}
header {
	height: 88px;
	position: absolute;
	top: 12px;
	right: 0;
	z-index: 25;
	width: 100%;
	transform: translate3d( 0, 0, 0 );
	-webkit-transform: translate3d( 0, 0, 0 );
	box-shadow: 0 1px 2px 0 rgba(2,3,3,0.4);
	-webkit-box-shadow: 0 1px 2px 0 rgba(2,3,3,0.4);
	-moz-box-shadow: 0 1px 2px 0 rgba(2,3,3,0.4);
}
header.not-sticky {
	position: absolute;
}
header.sticky {
	position: fixed;
	top: 0;
}

	header.sticky .wrapper {
		background: rgba(255,255,255,1);
	}
	header.not-sticky .wrapper,
	header .wrapper {
		background: rgba(255,255,255,0.8);
	}

	header .wrapper{
		position: relative;
		overflow: hidden;
		height: 100%;
		padding: 0;
	}

	header .phones {
		padding-top: 22px;
		font-style: normal;
		float: right;
		display: none;
	}
	header .phones ul li {
		display: inline-block;
	}
	header .phones ul li:last-child {
		margin-left: 22px;
	}
	
	header .phones ul li .city {
		font-size: 15px;
	}
	header .phones ul li .phone {
		color: #e77983;
		font-size: 16px;
		margin-left: 12px;
		text-decoration: none;	
	}
/*	header .phones ul li .phone:hover {
		opacity: .8;
	}
*/	
	header nav {
		z-index: 1;
		float: right;
		margin-right: 60px;
		margin-top: 23px;
	}

	header nav ul li {
		display: inline-block;
		margin-left: 21px;
		position: relative;
	}
	header nav ul li a {
		text-transform: uppercase;
		color: #000000;
		font-size: 13.6px;
		font-family: 'Solomon-Sans-Normal', sans-serif;
		text-decoration: none;
		padding-bottom: 7px;
		letter-spacing: 0;
	}
	header nav ul li a:hover {
		color: #000000;
	}
	
	header nav ul li a:after {
		content: "";
		display: block;
		height: 2px;
		width: 0;
		left: 50%;
		position: absolute;
		bottom: -8px;
		background-color: #e77983;
	}
	
	header nav ul li a:hover:after,
	header nav ul li.current_page_item a:after,
	header nav.hovered ul li.current_page_item a:hover:after {
		left: 0;
		width: 100%;
	}
	
	header nav.hovered ul li.current_page_item a:after {
		left: 49%;
		width: 2%;
	}			
	
/* header scrolling type */

	.scrolling header {
		height: 60px;
	}

.lang-selector {
	width: 140px;
	position: absolute;
	right: 0;
	top: 74px;
	height: 30px;
	overflow: hidden;
}

#lang_sel_list {
	width: 128px;
	position: absolute;
	right: 0;
	top: 0px;
	height: 25px;
	line-height: 28px;
	overflow: hidden;
	text-align: left;
	font-size: 13px;
	padding: 0px 0 0 9px;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 1px 2px 0 rgba(2,3,3,0.4);
	text-transform: uppercase;
	font-size: 12px;
}
header.sticky #lang_sel_list {
	right: -150px;
	opacity: 0;
}

	.lang-selector li,
	#lang_sel_list li {
		float: left;
	}
	.lang-selector a,
	#lang_sel_list li a,
	#lang_sel_list_list ul a:visited {
		text-decoration: none;
		font-size: 12px;
		margin-right: 11px;
		background: transparent;
	}
	.lang-selector li a.active,
	#lang_sel_list a.lang_sel_sel {
		color: #e77983;
	}
	
	#lang_sel_list a,
	#lang_sel_list a:visited {
		display: inline;
		line-height: 100%;
		padding: 0;	
	}

.logo a {
/*	background: url(../img/logo2016.svg) no-repeat center;
	background-size: 243px 44px;
	height: 44px;
	width: 243px;*/

	background-image: url(../img/logo2016-wide.svg);
	background-size: 337px 44px;
	height: 44px;
	width: 337px;

	display: block;
	position: absolute;
	top: 14px;
	left: 49px;
	z-index: 10;
}

.menu-expanded,
.menu-compact {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.menu-expanded {
	padding-right: 60px;
}

.menu-compact {
	position: relative;
	display: block;
}

.scrolling .logo a {
	top: 8px;
}

header .menu-compact .phones {
/*	position: absolute;
	right: 50px;
	float: none;
	padding-top: 18px;
*/
	float: none;
	padding-top: 20px;
	font-style: normal;
	margin: 0 auto;
	text-align: center;
	
}
	header .menu-compact .phones .phone {
		margin: 0;
	}

header .menu-compact .phones ul li:first-child {
	display: none;
}

header .menu-compact nav {
	float: none;
	text-align: center;
}

header .menu-compact nav {
	padding-top: 19px;	
}

header .menu-compact .phones ul li .city {
	display: none;
}


  


.homeslider{
	background-size: cover;
	position: relative;
	height: 100%;
}
	.homeslider hr{ border-top: 2px solid #ffffff; }

	.slider-next,
	.slider-prev{
		z-index: 2;
		position: absolute;
		width: 57px;
		height: 57px;
		border: 1px solid #ffffff;
		top: 50%;
		margin-top: -37px;
	}

	.slider-next{ right: 51px;}
	.slider-prev{ right: 116px;}

	.slider-next:hover,
	.slider-prev:hover{
		border: 1px solid #e77983;
	}
	.slider-arrow-right,
	.slider-arrow-left{
		width: 17px;
		height: 15px;
		fill: #ffffff;
		position: absolute;
		top: 20px;
		left: 18px;
	
	}
	.slider-next:hover .slider-arrow-right,
	.slider-prev:hover .slider-arrow-left{
		fill: #e77983;
	}

	.slider-arrow-left{
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	
	#about_accorderon .slider-prev {
		right: auto;
		left: 30px;
	}
	#about_accorderon .slider-next {
		right: 30px;
	}
	
	.kwicks-next,
	.kwicks-prev {
		display: none;
	}
	
	.scrolldown{
		position: absolute;
		width: 55px;
		height: 55px;
		border: 1px solid #fff;
		bottom: 20px;
		left: 50%;
		margin-left: -28px;		
	}
	.scrolldown:hover{
			border-color: #e77983;
		}
		.arrow-down{
			-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
		.arrow-left{
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		.scrolldown .arrow-down {
			width: 17px;
			height: 15px;
			fill: #e77983;
			position: absolute;
			top: 20px;
			left: 18px;
			-webkit-animation-name: 'pulse_animation';
			-webkit-animation-duration: 3000ms;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
		}
		.scrolldown:hover .arrow-down{
			fill: #e77983;
			-webkit-animation-duration: 1500ms;
		}

	.homeslider .slide_text {
		position: absolute;
		left: 60px;
		bottom: 34px;
		display: none;
		width: calc(50% - 100px);
	}
	
	.text-screen {
		background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.65) 0%, rgba(255,255,255,0) 68%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.65)), color-stop(68%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 68%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 68%,rgba(255,255,255,0) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 68%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 68%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		width: 600px;
		height: 240px;
		position: absolute;
		top: 50%;
		left: -100px;
		margin-top: -100px;
		display: none;
	}
	
	.dark-text .text-screen {
		display: block;
	}
	
	.homeslider .slide_text h2{
		text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
		color: #ffffff;
		letter-spacing: 0.1px;
		position: relative;
		font-size: 34px;
		font-family:'Solomon-Sans-Light';
	}
	.homeslider .slide_text p {
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
		margin-left: 3px;
		color: #ffffff;
		letter-spacing: 0.6px;
/*		max-width: 430px;*/
		position: relative;
	}
	.homeslider .slide_text hr {
		position: relative;
	}
	
	.homeslider .slide_text hr,
	.homeslider .slide_text p {
		display: none;
	}
	
	.homeslider .slide_text.dark-text h2,
	.homeslider .slide_text.dark-text p {
		color: #000;
		text-shadow: none;
	}
	.homeslider .slide_text.dark-text hr {
		border-color: #000;
	}

.gray-separator {
	height: 6px;
	background-color: #666;
}	

section.homeabout{
	position: relative;
	max-height: 683px;
	font-style: normal;
	background-image: url(../img/homapage_nataly_black.jpg);
	background-color: #000;
	background-repeat: no-repeat;
	background-position:  38% center;
	background-size: cover;
	color: #fff;
	min-height: 600px;
}
section.homeabout .background-photo {
	display: none !important;
	background: url(../img/homapage_nataly_new.jpg) #efeff0 no-repeat right bottom;
	background-size: contain;
	width: 48%;
	height: 90%;
	position: absolute;
	left: 0;
	z-index: 1;
	bottom: 0;
}
#homeprojects #container .item a.mobile-arrow {
	display: none;
	height: 56px;
	bottom: 0px;
	top: auto;
	text-align: center;
}
	#homeprojects #container .item a.mobile-arrow .arrow-right {
		fill: #000000;
		width: 17px;
		height: 15px;
		margin-top: 20px;
	}

#about section.homeabout .background-photo {
	background-position: right 30px bottom -15px;
}

	section.homeabout .content{
	    position: absolute;
	    left: 50%;
	    top: 0;
	    width: 380px;
	    margin-left: 30px;
	    line-height: 135%;
	    height: 100%;
	}
	
	section.homeabout .content p.label{
	    line-height: 135%;
	    color: #b5b5b5;
	    font-size: 14px;
	    margin-bottom: 20px;
	}
		
	section.homeabout .content .readmore{
		margin-top: 17px;
		display: block;
	}
	
	section.homeabout .hr-1 {
		display: none;
	}

.about-mobile-description {
	display: none;
	text-align: center;
	padding: 30px 20px 10px 20px;
}
	.about-mobile-description h2 {
		font-size: 24px;
	}
	.about-mobile-description {
		padding: 30px 20px 10px 20px;
	
	}

	.about-mobile-description hr {
		border-width: 1px;
		margin-left: auto;
		margin-right: auto;
	}

#homeservices{
	overflow: hidden;
	margin: 36px auto 36px;
}
#homeservices.fullscreen,
#homeservices .serv_container.fullscreen{
    height: 680px;
}
	
#homeservices *{
	color: #ffffff;
}
#homeservices .serv_container{
		margin-right: -1%;
		overflow: hidden;
		
}
	#homeservices hr{ border-top: 2px solid #ffffff; }
	#homeservices .service-box{
		float: left;
	    margin-right: 6px !important;
	    margin-bottom: 6px;
	    height: 49.7%;
		position: relative;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
	}
	#homeservices .service-box-bg {
		width: 100%;
		position: absolute;
		height: 100%;
		background-size: cover;
		background-position: center center;
	}
	
	/* переделки из-за нового дизайна */
		#homeservices .service-box-bg {
		  width: 100%;
		  position: absolute;
	  height: 100%;
		  background-size: cover;
		  background-position: center center;
		}
	
	/* end переделки из-за нового дизайна */
	
	#homeservices .service-box .service-link{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 3;
	}
	#homeservices .service-box .service-link:hover{
		background-color: rgba(0,0,0,0.1);
	}
	#homeservices .service-box h3{
		letter-spacing: 0;
	}
	#homeservices .service-box img{
		width: 120%;
		min-height: 110%;
		height: auto;
		margin-top: -10%;
		position: relative;
		display: block;
	}
	#homeservices .service-box:after{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.4);
		position: absolute;
		top: 0;
		left: 0;
		content:'';
		display: block;
		z-index:1;
		
	}
	#homeservices .service-box.wide{width: 66%;}
	#homeservices .service-box.narrow{width: 32%;}
	
	#homeservices .service-box .service-text{
		position: relative;
		z-index: 2;
	}
	
	
	#homeservices .service-box.wide .service-text{
		padding-left: 50px;
		padding-right: 10%;
	}
	#homeservices .service-box.narrow .service-text{
		padding-left: 50px;
		padding-right: 8%;
	}
	#homeservices .service-box p {
	  font-size: 16px;
	  line-height: 140%;
	  font-style: normal;
	}
	#homeservices .service-box .service-text h3{
		font-weight: bold;
		font-size: 30px;
	}


#homeprojects {
	overflow: hidden;
	background-color: #f4f4f4;
	padding: 37px 0 30px 0;
}

	
	#homeprojects #container{ position: relative;}

	#homeprojects #container .grid-sizer { width: 32.5%; }
	#homeprojects #container .gutter-sizer { width: 1%; }

	#homeprojects #container .item{
		margin-bottom: 10px;
		height: 405px;
		width: 32.5%;
		background-size: cover;
		background-position: center center;
	}

	#homeprojects #container .item.w2{ width:66%;}
	#homeprojects #container .item.w3{ width:99.5%;}
	#homeprojects #container .item.h2{ height:820px;}
	
	#homeprojects #container .item{
		background-color: #ccc;
		position: relative;
	}
		#homeprojects .item .image-holder {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-size: cover;
			background-position: center center;
		}
	
		#homeprojects .item .hover-bg {
			position: absolute;
			background: rgba(255,255,255,0.8);
			height: calc( 100% - 38px);
			width: calc( 100% - 38px);
			top: 19px;
			left: 19px;
			position: relative;
			opacity: 0;
		}
		#homeprojects #container .item a .cell{
			padding: 0 25px;
			opacity: 0;
			
		}
		#homeprojects .item .hover-bg:hover,
		#homeprojects #container .item .hover-bg:hover a .cell{
			opacity: 1;
		}
		#homeprojects #container .item a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		#homeprojects #container .item .h3 {
			padding-bottom: 5px;
			font-size: 25px;
			display: block;
			font-family:'Solomon-Sans-Normal';
			font-weight: bold;
	  	}
		#homeprojects #container .item span.year {
			display: block;
			font-size: 12px;
		    font-family: Verdana, Arial, sans-serif;
	  	}		
		#homeprojects #container .item .hover-text {
			font-size: 32px;
			font-family: inherit;
			color: inherit;
			text-decoration: none;
		}
		
	.lookmore-holder {
		background-color: #fff;
		padding: 50px 0;
	}	
	
	a.lookmore{
		width: 200px;
		margin: 0 auto;
	}
		a.lookmore.finished .primary-label,
		a.lookmore .finish-label {
			display: none;
		}
		a.lookmore.finished .finish-label {
			display: block;
		}
	
	a.button.download {
	  display: inline-block;
	  padding: 0 25px;
	}
	a.button{
		display: block;
		height: 52px;
		border: 1px solid black;
		line-height: 52px;
		text-decoration: none;
		text-align: center;
		font-family: 'Solomon-Sans-Normal', sans-serif;
		font-size: 16px;
		color: #000;
	}
	a.button.show639{
/*		display: none;*/
	}
	a.button:hover{
		border-color: #e77983;
		color: #e77983;
	}
	a.arrow{
		padding-right: 33px;
		position: relative;
	}
	a.arrow.leftside{
		padding-left: 33px;
		padding-right: 0px;
	}
	
	#single-new h3,
	#single-new h4,
	#single-new h5 {
		margin: 30px 0;
	}

	#single-new .bottom-nav-buttons{
		position: relative;
	}
	#single-new a.arrow.leftside{
		position: absolute;
		left: 0;
		top: 67px;
	}
	#single-new a.arrow.rightside{
		position: absolute;
		right: 0;
		top: 67px;
	}
	
	#single-new .page_content ul,
	#single-new .page_content ol {
		list-style-type: disc;
		list-style-position: inside;
		font-size: 17px;
		font-style: normal;
		margin: 20px 0;
	}	
	#single-new .page_content li {
		margin-bottom: 10px;
	}
		a.arrow:hover #lookmore-arrow-down{
			fill: #e77983;
		}
		#lookmore-arrow-down{
			top: 18px;
			right: 20px;
		}
		a.arrow .arrow-right,
		a.arrow.leftside .arrow-left,
		a.arrow .arrow-down{
			width: 17px;
			height: 15px;
			position: absolute;
		    top: 3px;
		    right: 5px;
		}
		.finished #lookmore-arrow-down {
			transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
		}

footer {
	color: #fff;
	font-size: 13px;
	background-color: rgba(0,0,0,1);
	overflow: hidden;
	font-style: normal;
	color: #787878;
}
	footer .wrapper {
		padding: 0 60px;
	}
	
	footer a {
		color: #787878;
	}
	footer ul {
		margin-top: 20px;
	}
		footer li {
			margin-bottom: 8px;
			
		}
		footer li svg {
			vertical-align: middle;
			margin-right: 8px;
		}
	
	footer .social {
		padding-top: 8px;
	}
	.page-id-14 footer .social,
	.page-id-159 footer .social {
		padding-top: 17px;
	}

		.soc-icon {
			border: 1px solid #aaa;	
			width: 34px;
			height: 34px;
			margin: 0 4px 0 3px;
			display: inline-block;
		}

		.soc-icon-image {
			fill: #aaaaaa;
			width: 32px;
			height: 32px;	
		}


		#swipebox-share .soc-icon {
			width: 34px;
			height: 34px;
			margin: 0 6px;
			pointer-events: auto;
		}
		
		.mobiled #swipebox-share .soc-icon {
			width: 40px;
			height: 40px;
			border-color: #fff;
		}

		#swipebox-share .soc-icon-image {
			width: 32px;
			height: 32px;
		}
			.mobiled #swipebox-share .soc-icon-image {
				width: 38px;
				height: 38px;
				fill: #ffffff;
			}
		
		.footer-icon-pin {
			width: 11px;
			height: 16px;
			fill: #aaaaaa;
		}
		.footer-icon-mail {
			width: 16px;
			height: 10px;
			fill: #aaaaaa;
		}
		
		a.soc-icon:hover {
			border-color: #e77983;
		}
		a:hover .soc-icon-image,
		a:hover .footer-icon-pin,
		a:hover .footer-icon-mail {
			fill: #e77983;
		}
		
		.page-id-14 .soc-icon,
		.page-id-159 .soc-icon {
			width: 34px;
			height: 34px;
		}
			.page-id-14 .soc-icon .soc-icon-image,
			.page-id-159 .soc-icon .soc-icon-image {
				width: 32px;
				height: 32px;
			}
		
	footer .for-contacts-page {
		display: none;
		line-height: 20px;
		margin-top: 13px;
	}
		footer .for-contacts-page span {
			display: block;
		}
		
	footer .contacts {
		float: right;
		text-align: right;
	}
		footer .contacts ul {
			margin-top: 16px;
		}

	footer .center {
		text-align: center;
		width: 280px;
		margin: 0 auto;
	}
	

	footer .news {
		float: left;
		line-height: 100%;
		max-width: 320px;
		font-size: 12px;
	}
		footer .news li {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		footer .phone {
			font-family: 'OpenSansRegular-Regular', sans-serif;
			font-size: 25px;
			color: #e77983;
			font-style: normal;
			padding-top: 9px;
		}

	
	.page-id-14 footer .phone,
	.page-id-14 footer .news-list,
	.page-id-159 footer .phone,
	.page-id-159 footer .news-list {
		display: none;
	}
	
	.page-id-14 footer .contacts li:not(.copyr),
	.page-id-159 footer .contacts li:not(.copyr) {
		display: none;
	}
	.page-id-14 footer .contacts li.copyr,
	.page-id-159 footer .contacts li.copyr {
		margin-top: 26px;
	}
	
	.page-id-14 footer .copyright,
	.page-id-159 footer .copyright {
		clear: none;
		float: right;
		margin-top: 25px;
	}
	
	.page-id-14 footer .for-contacts-page,
	.page-id-159 footer .for-contacts-page {
		display: block;
	}


	.copyr-mobile {
		display: none;
		width: 220px;
		height: 30px;
		left: 20px;
		top: 65px;
		position: absolute;
		text-align: left;
	}



/* isotope filters */
	.filters{
		padding: 20px 0;
		margin-left: -7px;
	}
		.filters button{
			background: none;
			border: none;
			color: black;
			outline: none;
			font-size: 16px;
			margin: 0 9px 0 0;
			position: relative;
		}
		.filters .title{
			display: none;
		}
		
		.filters button.is-checked{
			color: #e77983;
		}
		.filters button:hover{
			color: #e77983;
		}
		.filters button:after{
			position: absolute;
			content: '';
			height: 4px;
			width: 4px;
			top: 9px;
			left: -4px;
			background-color: transparent;
		}
		.filters button.is-checked:after{
			background-color: #e77983;
		}
/* end isotope filters */



/* isotope styles */

		
		#portfolio .isotope_container{
			margin: 0 -0.5%;
			position: relative;
		}
			#portfolio .isotope_container .item span{
				display: block;
			}
			#portfolio .isotope_container .item .project-img{
				width: 100%;
				height: 339px;
				background-position: center center;
				background-size: cover;
				position: relative;
			}

/* end isotope styles */

#portfolio{
	overflow: hidden;
}

#portfolio .wrapper{
/*	background-color: #fbfbfb;*/
	padding-bottom: 50px;
}


#projects_container .grid-sizer { width: 32%; }
#projects_container .gutter-sizer { width: 1%; }

#projects_container .item{
	display: block;
	width: 32%;
	height: 405px;
	margin: 0.5%;
}
#projects_container .item a{
	text-decoration: none;
	color: #000000;
}
	#projects_container .item img.project-img{
		width: 100%;
		height: auto;
		background-position: center center;
		position: relative;
	}
	#projects_container .item  .project-text{
		height: 66px;
		background-color: #fff;
		padding: 0 20px;
		font-family: 'Solomon-Sans-Normal', sans-serif;
	}

	#projects_container .item .title{
		font-size: 18px;
		padding-top: 16px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	#projects_container .item .year{
		font-style: italic;
		font-size: 13px;
		padding-top: 2px;
	}
	#projects_container .item:hover{
		color: #000000;
	}
	#projects_container .item:hover .title{
		color: #e77983;
	}

	#projects_container .item .project-img:after{
			position: absolute;
			content: '';
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0);
	}
	#projects_container .item:hover .project-img:after{
		background-color: rgba(0,0,0,0.25);
	}
		#portfolio a.lookmore{
			margin: 40px auto 51px;
		}

#blog{
	
}

#blog .wrapper{
	padding-bottom: 50px;
}

#blog .item .excerpt {
	padding: 0 20px 5px;
}
	#blog .item a {
		display: block;
	}

	h1 a,
	h2 a,
	h3 a,
	h4 a,
	h5 a {
		color: inherit;
		text-decoration: none;
		font-family: inherit;
	}
	h1 a:hover,
	h2 a:hover,
	h3 a:hover,
	h4 a:hover,
	h5 a:hover {
		color: #e77983;
	}
	
	#blog .item h2 a {
		font-size: 18px;
		line-height: 23px;
		margin: 19px 0 12px;
		font-family:'Solomon-Sans-Normal';
	}
	#blog .item p {
		font-size: 13px;
		font-style: normal;
	}
	#blog .item p.date {
		color: #6c6c6c;
		padding-top: 5px;
	}

	#blog_container .grid-sizer { width: 32%; }
	#blog_container .gutter-sizer { width: 1%; }

	#blog_container .item{
		display: block;
		width: 32%;
		height: auto;
		margin: 0.5%;
		background: #fff;
	}
			#blog_container .item .blog-img img{
				width: 100%;
				position: relative;
				display: block;
			}
			#blog_container .item .blog-img {
				position: relative;
				height: auto;
			}
	#blog a.lookmore{
		margin: 40px auto 51px;
	}
		
		
#services{
	background-color: #f4f4f4;
	padding: 16px 0 0;
	font-style: normal;
	font-size: 14px;
	line-height: 130%;
}
.services-height {
	height: 600px;
}
	
#services .lookmore-holder {
/*	background-color: transparent;*/
}

	#services .service{
		position: relative;
		margin-bottom: 16px;
	}
	
	#services .service:last-child {
/*		margin-bottom: 0;*/
	}
	
		#services .service .anchor{
			position: absolute;
			width: 0;
			height: 0;
			background: black;
			top: -60px;
			left: 0;
			z-index: 10;
		}
		#services .service h2 {
			font-size: 32px;
			font-weight: bold;
		}
		#services .service h3 {
			font-size: 15px;
			margin-top: 28px;
			margin-bottom: 27px;
			font-family:'Solomon-Sans-Normal';
			font-weight: 700;
		}
		#services .service p {
			font-size: 14px;
			margin-bottom: 20px;
			line-height: 20px;
		}
		#services .service hr {
			margin: 23px 0 31px;
		}
	#services .service .show-content {
		border-bottom: 1px dashed black;
		text-decoration: none;
		color: black;
		line-height: 28px;
		cursor: pointer;
		font-family:'Solomon-Sans-Normal';
		font-size: 15px;
		font-weight: bold;
	}
	#services .service a.download{
		margin: 21px 0 0;
	}
	#services .service .show-content:hover {
		border-bottom: 1px dashed #e77983;
		text-decoration: none;
		color: #e77983;
	}

		#services .service .photo{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}
		#services .service .description{
			background: #ffffff;
		}
		#services .service .description{
			padding: 28px 40px 20px;
			height: 100%;
			overflow: auto;
		}
		#services .service .table-of-content{
			background: rgba(255,255,255,0.85);
			opacity: 0;
			position: absolute;
			top: 20px;
			height: -moz-calc(100% - 40px);
			height: -webkit-calc(100% - 40px);
			height: calc(100% - 40px);
		}
		#services .service .table-of-content.show{ opacity: 1;}
		#services .service .table-of-content .cell{
		  padding: 20px 4% 20px 5%;
		}
		#services .service .table-of-content li{
			padding: 0 0 10px 29px;
			position: relative;
			font-family:'Solomon-Sans-Normal';
		}
		#services .service .table-of-content li:before{
			position: absolute;
			content: '';
			width: 4px;
			height: 4px;
			left: 10px;
			top: 6px;
			background-color: #e77983;
		}
		#services .service .photo,
		#services .service .description{
			position: absolute;
			top: 0;
		}
/*		#services .service .photo{
			width: 60%;
		}
		#services .service .table-of-content{
			width: 61%;
		}
		#services .service .description{
			width: 49%
		}*/

		#services .service.rightside .photo{right: 0;}
		#services .service.rightside .description{left: 0;}
		#services .service.rightside .table-of-content{right: 20px;}

		#services .service.leftside .photo{left: 0;}
		#services .service.leftside .description{right: 0;}
		#services .service.leftside .table-of-content{left: 20px;}
		
/*по умолчанию */
		#services .service .description {
			width: 442px;
		}
		#services .service .photo{
			width: -moz-calc(100% - 442px);
			width: -webkit-calc(100% - 442px);
			width: calc(100% - 442px);
		}
		#services .service .table-of-content {
			width: -moz-calc(100% - 482px);
			width: -webkit-calc(100% - 482px);
			width: calc(100% - 482px);
		}
/*дизайн интерьера */
		#services .service.post-32 .description,
		#services .service.post-163 .description {
			width: 442px;
		}
		
		#services .service.post-32 .photo,
		#services .service.post-163 .photo{
			width: -moz-calc(100% - 442px);
			width: -webkit-calc(100% - 442px);
			width: calc(100% - 442px);
		}
		#services .service.post-32 .table-of-content,
		#services .service.post-163 .table-of-content {
			width: -moz-calc(100% - 482px);
			width: -webkit-calc(100% - 482px);
			width: calc(100% - 482px);
		}
/*Авторский надзор*/
		#services .service.post-28 .description,
		#services .service.post-173 .description {
			width: 610px;
		}
		#services .service.post-28 .photo,
		#services .service.post-173 .photo{
			width: -moz-calc(100% - 610px);
			width: -webkit-calc(100% - 610px);
			width: calc(100% - 610px);
		}
		#services .service.post-28 .table-of-content,
		#services .service.post-173 .table-of-content {
			width: -moz-calc(100% - 650px);
			width: -webkit-calc(100% - 650px);
			width: calc(100% - 650px);
		}
/*Декорирование*/
		
		#services .service.post-25 .description,
		#services .service.post-174 .description {
			width: 480px;
		}
		#services .service.post-25 .photo,
		#services .service.post-174 .photo{
			width: -moz-calc(100% - 480px);
			width: -webkit-calc(100% - 480px);
			width: calc(100% - 480px);
		}
		#services .service.post-25 .table-of-content,
		#services .service.post-174 .table-of-content {
			width: -moz-calc(100% - 520px);
			width: -webkit-calc(100% - 520px);
			width: calc(100% - 520px);
		}
/*Комплектация объекта*/
		#services .service.post-22 .description,
		#services .service.post-175 .description {
			width: 533px;
		}
		#services .service.post-22 .photo,
		#services .service.post-175 .photo{
			width: -moz-calc(100% - 533px);
			width: -webkit-calc(100% - 533px);
			width: calc(100% - 533px);
		}
		#services .service.post-22 .table-of-content,
		#services .service.post-175 .table-of-content {
			width: -moz-calc(100% - 573px);
			width: -webkit-calc(100% - 573px);
			width: calc(100% - 573px);
		}
		
#single-new{
	background-color: #f4f4f4;
}

#single-new .vegas-slide {
	background-color: #fff;
}

#single-new hr {
	margin-bottom: 2.2em;
}
#single-new .columns{
/*	padding-top: 15px;*/
	overflow: hidden;
}
		#single-new .page_content{
			float: left;
			width: 79%;
/*			margin-left:4%;*/
			background-color: #ffffff;
		}
		#single-new .page_content .header{
			  margin-bottom: 40px;
		}
			#single-new .page_content .big-img.img-container{
			    height: 418px;
				overflow: hidden;
				position: relative;
				background-position: center;
				background-size: cover;
			}
			#single-new .page_content .header .img-container .social {
				position: absolute;
				bottom: 13px;
				right: 3px;
				width: 230px;
				height: 30px;
			}
			#single-new .page_content .header .soc-icon-image {fill: #fff;}
			#single-new .page_content .header a.soc-icon{border-color: #fff;}
			#single-new .page_content .header a:hover .soc-icon-image {fill: #e77983;}
			#single-new .page_content .header a.soc-icon:hover{border-color: #e77983;}
			#single-new .page_content .header-text{
			    padding: 22px 120px 1px 37px;
				background-color: #fbfbfb;
			}
			#single-new h1{
				font-size: 58px;
				font-weight: bold;
/*				line-height: 100px;*/
				line-height: 60px;
				margin: 60px 0 40px;
			}

			#single-new p.label{
				margin: 0.8em 0 1em;
				line-height: 135%;
			}
			#single-new .page_content a {
			    font-size: 17px;
			    color: #000000;
			    font-style: normal;
			}
			#single-new .page_content a:hover {
				text-decoration: none;
			}
		#single-new .page_content .big-img.img-container img{
			width: 100%;
		}
		
		
		#single-new .content {
			padding-left: 28px;
			padding-right: 28px;
			
		}
		
		#single-new .content h2,
		#single-new .content h3,
		#single-new .content h4,
		#single-new .content p,
		#single-new .content ul{
/*			padding-left: 37px;*/
/*			padding-right: 37px;*/
		}

		#single-new .content h2 {
			font-size: 39px;
			margin-bottom: 10px;
			font-family: 'Solomon-Sans-Normal';
			font-weight: bold;
			margin-top: 60px;
		}

		#single-new .content p {
			font-size: 17px;
			font-style: normal;
			line-height: 34px;
			margin-bottom: 1.5em;
			margin-top: 6px;
			letter-spacing: 0.6px;
		}
		#single-new .content li {
			font-size: 17px;
			font-style: normal;
			line-height: 34px;
			letter-spacing: 0.6px;
		}
		#single-new .content p.label {
			line-height: 25px;
		}
		
		#single-new .sidebar{
			float: right;
			width: 19%;
			background-color: #ffffff;
		}
		#single-new .sidebar .news-list{
			padding: 10px 9px;
		}
		#single-new .sidebar .news-list li{
			position: relative;
			height: auto;
			overflow: hidden;
			padding-bottom: 29px;
		}
		#single-new .sidebar .news-list li .img-container{
			display: block;
			position: relative;
			height: auto;
			margin-bottom: 19px;
		}
		#single-new .sidebar .news-list li .text-container{


		}

		a.black-hover{
			display: block;
		}
		a.black-hover:after{
			position: absolute;
			content: '';
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0);
		}
		a.black-hover:hover:after{
			background-color: rgba(0,0,0,0.25);
		}
		a.black-hover img{
			display: block;
		}

		#single-new .sidebar .news-list li img{
			width: 100%;
			display: block;
		}
		#single-new .sidebar .news-list li h4{
			font-size: 18px;
			line-height: 28px;
			font-family:'Solomon-Sans-Normal';
			margin-bottom: 8px;
			margin-top: 0;
		}
		#single-new .sidebar .news-list li h4 a{
			font-size: inherit;
		}
		#single-new .sidebar .news-list li p{
			color: #9d9d9d;
			font-size: 16px;
			padding-top: 5px;
			line-height: 24px;
			font-style: italic;
			padding-left: 2px;
		}
		#single-new  .author-comment {
			padding-left: 37px;
			margin-top: 50px;
			margin-bottom: 33px;
			overflow: hidden;
		  
		}
		#single-new  .author-comment p{
			font-style: italic;
		}
		#single-new  .author-comment p.label{
			margin-bottom: 10px;
		  line-height: 100%;
		}
		#single-new  .author-comment h3,
		#single-new  .author-comment p{
			padding-left: 27px;
			padding-right: 0px;
		}
		#single-new  .author-comment hr{
		    width: 50px;
		    margin: 0.9em 0 0.6em 27px;
		}
		#single-new  .author-comment .avatar{
		  width: 95px;
		  height: 95px;
		  border-radius: 50%;
		  -moz-border-radius: 50%;
		  -webkit-border-radius: 50%;
		  margin: 8px auto;
			float: left;
		}
		#single-new  .author-comment .comment {
			float: left;
			max-width: 634px;
			width: 75%;
			padding-left: 10px;
			padding-right: 20px;
			
		}
		#single-new  .author-comment .comment h3 {
			font-size: 20px;
		}
		#single-new .page_content .footer {
			border-top: 2px solid;
			margin: 66px 30px 45px 30px;
			padding: 46px 0 0;
		}

		#single-new .page_content .footer .social span.text {
			line-height: 34px;
			vertical-align: top;
			font-size: 18px;
			font-style: normal;
			margin-right: 13px;
			font-family:'Solomon-Sans-Normal';
		}
		.bottom-nav-buttons{
			text-align: center;
			background: #f4f4f4;
			padding: 51px 0;
		}

		#single-new .bottom-nav-buttons{
			width: 79%;
		}
		.bottom-nav-buttons .button-holder {
			display: inline-block;
		}
		.bottom-nav-buttons a{
			display: inline-block;
			  font-size: 16px;
			  letter-spacing: -0.4px;
			  text-decoration: none;
		}
		.bottom-nav-buttons a.disabled {
			opacity: 0;
			cursor: default;
		}
		.bottom-nav-buttons a.button {
			display: inline-block;
			width: auto;
			padding: 0 22px;
			margin: 0 35px;
		}

		.bottom-nav-buttons a.arrow .arrow-right {
		    top: 3px;
		    right: 5px;
		}
		.bottom-nav-buttons a.arrow.leftside .arrow-left {
		    top: 3px;
		    left: 5px;
		}
		.bottom-nav-buttons a .arrow-right,
		.bottom-nav-buttons a .arrow-left {
			fill: #b3b3b3;
		}
		.bottom-nav-buttons a.arrow:hover,
		.bottom-nav-buttons a.arrow:hover{
			color: #000000;
		}
		.bottom-nav-buttons a.arrow:hover .arrow-right,
		.bottom-nav-buttons a.arrow:hover .arrow-left{
			fill: #6a6e7a;
		}


		.newsslider{
			background-size: cover;
			position: relative;
			height: 444px;
			width: 100%;
		}
		.newsslider .slider-next,
		.newsslider .slider-prev{

			position: absolute;
			width: 57px;
			height: 57px;
			border: 1px solid #eee;
			top: 54%;
			margin-top: -37px;
		}

		.newsslider .slider-next{ right: 25px;}
		.newsslider .slider-prev{ right: 90px;}
		
		.newsslider .slider-arrow-right,
		.newsslider .slider-arrow-left {
			fill: #eeeeee;
		}

		.newsslider .slider-next:hover,
		.newsslider .slider-prev:hover{
			border: 1px solid #e77983;
		}
		.newsslider .slider-next:hover .slider-arrow-right,
		.newsslider .slider-prev:hover .slider-arrow-left{
			fill: #e77983;
		}
		.newsslider .slide-info {
			position: absolute;
			top: 61%;
			right: 24px;
			font-style: normal;
			color: #eee;
			font-family:'Solomon-Sans-Light';
			font-size: 18px;
		}
		.slider-box{
			margin-bottom: 35px;
		}

		#single-new .fullwidth{
			margin-left: -28px;
			margin-right: -28px;
		}
		

		#single-new .content .slider-text{
			color: #000;
			margin-top: -20px;
			font-size: 19px !important;
			font-family: 'Solomon-Sans-Normal';
			line-height: 22px;
			font-style: italic;
		}
		#single-new .content .images-text{
			color: #000;
			margin-top: 10px;
			font-size: 19px !important;
			font-family: 'Solomon-Sans-Normal';
			margin-left: 28px;
			line-height: 22px;
			font-style: italic;
		}

		#single-new .fullwidth img{
			margin: 0;
			width: 50%;
			height: auto;
			float: left;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			border-left: 2px solid #fff;
			border-bottom: 2px solid #fff;
		}
		#single-new .fullwidth a {
			text-decoration: none;
		}
		#single-new .fullwidth {
			height: auto;
		}
		
		
/* single-project page*/
		#project-photo{
			position: relative;
			text-align: center;
			background-size: cover;
			background-position: center;
			padding: 0 80px;
		}
		#project-photo:after{
			width: 100%;
			height: 100%;
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0.4);
			z-index: 1;
		}
		#project-photo .scrolldown{
			z-index: 2;
		}
		#project-photo .text{
			z-index: 2;
			color: white;
		    margin-top: 17%;
			display: inline-block;
			position: relative;
		}
		#project-photo .text h1 {
			font-size: 45px;
		}
		#project-photo .text p {
			color: white;
			text-align: left;
			font-size: 20px;
		}
		#project-photo .text hr{
			border-top: 2px solid #ffffff;
		}
		

		.share {
			position: absolute;
			width: 57px;
			height: 57px;
			border: 1px solid #ffffff;
			top: 147px;
			right: 16px;
			margin-left: -28px;
			z-index: 2;
			cursor: pointer;
		}
			.share a {
				position: absolute;
				width: 57px;
				height: 57px;
				border: 1px solid #ffffff;
				right: -1px;
				display: block;
				margin: 0;
				padding: 12px 0 0 0;
				opacity: 0;
				bottom: -1px;
			}
			.share .switcher {
				position: absolute;
				width: 57px;
				height: 57px;
				border: 1px solid transparent;
				right: -1px;
				display: block;
				margin: 0;
				padding: 0;
				z-index: 2;
			}
			#shareProject.active a.pt {
				right: 60px;
			}
			#shareProject.active a.vk {
				right: 121px;
			}
			#shareProject.active a.tw {
				right: 182px;
			}
			#shareProject.active a.gp {
				right: 243px;
			}
			#shareProject.active a.fb {
				right: 304px;
			}
			
			
			#shareProject.active a {
				opacity: 1;
			}
			
		.share .share-icon {
			fill: #fff;
			width: 17px;
			height: 15px;
			margin: 20px 0 0;
		}
		
		.share .soc-icon-image {
			fill: #fff;
		}
		
		.share:hover{
			border: 1px solid #e77983;
		}
		.share:hover .share-icon{
			fill: #e77983;
		}
		#projectabout {
			background-color: #f4f4f4;
		}
		
			#projectabout .wrapper{
				padding-top: 21px;
				padding-bottom: 29px;
			}
			
			#projectabout .wrapper.limited {
				max-width: 1000px;
			}
			
			#projectabout .item.text{
				background: #fff;
			}
			#projectabout .item.text .cell{
			  padding: 0 30px 0 45px;
			}

			#projectabout .item.text p{
				line-height: 135%;
			}
			#projectabout .item.text h2{
				font-size: 29px;
				line-height: 29px;
			}
			
			#projectabout .item.text p {
				font-size: 87%;
			}
			#projectabout .item.text p.label.subtitle {
				margin: 3px 0 22px;
			}
			/* copy from #homeprojects #container*/
			

				#projectabout #container{ position: relative;}
				#projectabout #container .grid-sizer { width: 32.5%; }
				#projectabout #container .gutter-sizer { width: 1%; }
				#projectabout #container .item{
					margin-bottom: 10px;
					height: 305px;
					width: 32.5%;
					background-color: #ffffff;
					background-size: cover;
					background-position: center center;
					position: relative;
				}
				#projectabout #container .item a.link-block {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}

				#projectabout #container .item.w2{ width:66%;}
				#projectabout #container .item.w3{ width:99.5%;}
				#projectabout #container .item.h2{ height:620px;}
				
	
			/* copy from #homeprojects #container*/
				#extra_images #container2{ position: relative;}
				#extra_images #container2 .grid-sizer { width: 32.5%; }
				#extra_images #container2 .gutter-sizer { width: 1%; }
				#extra_images #container2 .item{
					margin-bottom: 10px;
					height: 360px;
					width: 32.5%;
					background-color: #ffffff;
					background-size: cover;
					background-position: center center;
					position: relative;
				}
				#extra_images #container2 .item a {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				#extra_images #container2 .item.w2{ width:66px;}
				#extra_images #container2 .item.w3{ width:99.5%;}
				#extra_images #container2 .item.h2{ height:820px;}
			


    		#projectabout  .author-comment {
  			overflow: hidden;
    		}
    		#projectabout  .author-comment p{
    		}
			
    		#projectabout  .author-comment hr{
  			width: 100px;
  			margin: 1em 0 1.4em;
    		}
    		#projectabout  .author-comment .avatar{
    		  width: 145px;
    		  height: 145px;
    		  border-radius: 50%;
    		  -moz-border-radius: 50%;
    		  -webkit-border-radius: 50%;
    		  margin: 8px 55px 8px 12px;
    			float: left;
    		}
    		#projectabout  .author-comment .comment{
				float: left;
				/*width: 68%;*/
				width: calc(100% - 220px);
    		}
    		#projectabout  .author-comment .comment h2{
    			font-size: 37px;
    			line-height: 37px;
				letter-spacing: 0;
    		}

    		#projectabout #container .item.w3 .table.wider-text {
    			width: 90%;
    			margin: 0 auto;
    		}
			

		#extra_images {
			padding-top: 35px;
		}
			
  		#single-project .customer-comment {
			width: 70%;
			margin: 0 auto;
			overflow: hidden;
			height: 415px;
		    max-width: 800px;
  		}
  		#single-project .customer-comment p{
  			font-style: italic;
		  margin-bottom: 0;
		  line-height: 135%;
  		}
  		#single-project .customer-comment p.label{
			margin-bottom: 10px;
			line-height: 100%;
			margin-top: 5px;
  		}
  		#single-project .customer-comment hr{
			width: 100px;
			margin: 1.7em 0 1.4em;
  		}
  		#single-project .customer-comment .avatar{
  		  width: 145px;
  		  height: 145px;
  		  border-radius: 50%;
  		  -moz-border-radius: 50%;
  		  -webkit-border-radius: 50%;
  		  margin: 8px 65px 8px 12px;
  			float: left;
  		}
  		#single-project .customer-comment .comment{
  			float: left;
  		  width: 67%;
  		  padding-left: 10px;
  		  padding-right: 20px;
			
  		}
  		#single-project .customer-comment .comment h2{
  			font-size: 42px;
			letter-spacing: 0;
  		}

/* single-project page*/
		
		
/* side-menu */

		.side-menu a{
			color: #ffffff;
			text-decoration: none;
			display: block;
			text-transform: uppercase;
			font-family: 'Ubuntu-Regular-conv', sans-serif;
		    padding: 12px 20px 15px;
		    font-size: 11px;
			letter-spacing: 2px;
		}
		.side-menu a:hover{
			color: #e77983;
		}
		.side-menu h2 {
		  font-size: 20px;
		  padding: 26px 20px 18px;
		  color: #fff;
		}
		
	
		/* menu right side */
			.menu-open{
				width: 30px;
				height: 20px;
				position: fixed;
			    right: 42px;
			    top: 27px;
				background: none;
				position: absolute;
				display: none;
			    cursor: pointer;
			}
				.menu-open .sandwich {
					position: absolute;
					top: 0;
					display: block;
					width: 30px;
					height: 20px;
					border-top: 4px solid #7f7f7f;
					border-bottom: 4px solid #7f7f7f;
					border-left: none;
					border-right: none;
				}

				.menu-open .sandwich:after{
					position: absolute;
					content: '';
					top: 4px;
					left: 0;
					width: 30px;
					height: 4px;
					background-color: #7f7f7f;
				}
				.menu-open .sandwich:hover{
					border-color: #e77983;
				}

				.menu-open .sandwich:hover:after{
					background-color: #e77983;
				}
				.menu-open .sandwich:active{
					border-color: #000;
				}

				.menu-open .sandwich:hover:active{
					background-color: #000;
				}
				.menu-close .cross {
					width: 24px;
					height: 21px;
					top: 20px;
					position: absolute;
					display: block;
					right: 18px;
				}
				.menu-close .cross .close-menu{
					width: 24px;
					height: 21px;
					fill: #b5b5b5;
					cursor: pointer;
				}
				.menu-close .cross:hover .close-menu{
					fill: #e77983;
				}
					.side-menu a.menu-close {
					    width: 100%;
						padding: 0 0 59px;
						border-bottom: 1px solid #4c4c4c;
					}
					
					.side-menu ul {
					  padding-top: 16px;
					}
			.menu-visible .menu-close .cross {
				opacity: 1;
			}
			.menu-visible .menu-open .sandwich {
				border-color: transparent;
			}
			.menu-visible .menu-open .sandwich:after {
				background-color: transparent;
			}		
			
			nav.side-menu{
				text-align: right;
			}
			
		


.contact-info {
	width: 481px;
	height: 289px;
	position: absolute;
	top: 50%;
	right: 65px;
	padding: 36px 25px;
	margin-top: -117px;
	background-color: #fff;
	z-index: 1;
	opacity: 0;
	font-style: normal;
	box-shadow: 0 0px 5px 0 rgba(0,0,0,0.3);
}

.loaded .contact-info {
	opacity: 1;
}

	.contact-info h3 {
		font-size: 30px;
		font-family:'Solomon-Sans-Normal';
		font-weight: normal;
		letter-spacing: 0px;
	}
	.contact-info h4 {
		font-size: 20px;
		font-weight: normal;
	}
	.contact-info .phone,	
	.contact-info .email {
		margin-top: 15px;
	}	

	.contact-info .phone a {
		color: #e77983;
		text-decoration: none;
		font-size: 18px;
		font-family: Verdana;
	} 
	.contact-info .email a {
		font-size: 15px;
		color: #000;
	}	
	.contact-info .phone a:hover {
		opacity: .8;
	}
	.contact-info .email a:hover {
		text-decoration: none;
	}	

	/*  kz stuff */
		.geo-kz #pusher {
			background: url('../img/kz-contacts.jpg') no-repeat center center;
			background-size: cover;
		
		}
		.contact-info .skype {
			margin-top: 15px;
		}	
		.contact-info .skype a {
			text-decoration: none;
			color: #000;
		}
		.contact-info .skype,
		.contact-info .skype a {
			font-size: 100%;
		}
	/*  END: kz stuff */

#map-canvas {
	background-color: #e5e3df;
}	

.kwicks li .bg-wrapper .li-bg {
  background-color: #eee;
  background-size: cover;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.kwicks li .bg-wrapper:after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: block;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0,0,0,.65);
}
	.kwicks .mob-caption {
		display: none;
	}
	.kwicks .bottom-block {
		position: absolute;
		width: 100%;
		height: 250px;
		background-color: rgba(0,0,0,0);
		bottom: 0;
		left: 0;
	}

	.kwicks .kwicks-expanded .bottom-block {
		background-color: rgba(0,0,0,.4);
	}

	.kwicks .kwicks-expanded .bg-wrapper:after {
		background-color: rgba(0,0,0,0);
	}

	.kwicks .caption {
		position: absolute;
		width: 500px;
		height: 190px;
		top: 30px;
		left: 30px;
		color: #fff;
		z-index: 2;
	}
	
	@media all and (max-width: 1149px){
		.kwicks .caption {
			width: 440px;
		}
	}
	

		.kwicks .caption hr {
			border-color: #fff;
		}

		.kwicks .caption p {
			line-height: 22px;
			color: #fefefe;
		}
		.kwicks .caption h3 {
			font-size: 30px;
		}


.accordeon-holder {
	padding: 16px 50px;
	position: relative;
}

.nataly-collage {
	background-color: #fbfbfb;
	background-position: center center;
	background-size: cover;
}	
.video-background {
	position: relative;
	width: calc(100% - 100px);
	margin: 0 auto;
}
.video-background video {
	width: 100%;
}

.team-holder {
	text-align: center;
	position: relative;
	margin: 60px 0 0 0;
}
.team-holder h3 {
	font-size: 30px;
}
.team-holder hr {
	margin-left: auto;
	margin-right: auto;
}

	.employee-item {
		width: 210px;
		min-height: 250px;
		cursor: pointer;
		overflow: hidden;
		display: inline-block;
		margin-left: -10px;
		margin-right: -10px;
		padding: 0 24px;
	}
	.employee-item:hover {
		background-color: #f4f4f4;
	}	

	.team-holder .employee-item hr {
		display: none;
	}
		.employee-item .ava {
			width: 145px;
			height: 145px;
			border: 3px solid #c9cacb;
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;	
			margin: 14px auto;
			position: relative;
			background-size: cover;
			background-position: center center;
		}
		.employee-item .ava:after {
			display: block;
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 7px 0 7px;
			border-color: #ec6529 transparent transparent transparent;
			bottom: -9px;
			left: 62px;
			opacity: 0;
		}
	/*
		потом вернуть все назад holyan
		.employee-item:hover .ava:after {
			opacity: 1;
		}
		.employee-item:hover .ava {
			border-color: #ec6529;
		} */
		.employee-item h3.name {
			font-size: 25px;
			font-family:'Solomon-Sans-Normal';
		}
		.employee-item .rank {
			font-size: 13px;
			color: #6c6c6c;
			margin: 5px 0 25px;
			font-style: normal;
		}
		/*
		.employee-item:hover .rank {
			font-style: italic;
		}*/
		.employee-item .desc {
			text-align: left;
			font-size: 14px;
			font-style: normal;
			opacity: 0;
			transform: translate3d(0,12px,0);
			-moz-transform: translate3d(0,12px,0);
			-webkit-transform: translate3d(0,12px,0);
		}

		.employee-item:hover .desc {
			opacity: 1;
			transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
		}
		.swiper-container,
		.iosSlider {
			width: 950px;
			min-height: 405px;
		}
		.swiper-wrapper,
		.iosSlider .slider {
			width: 100%;
			height: 100%;
			text-align: center;			
		}

		footer .phone a {
			font-family: 'OpenSansRegular-Regular', sans-serif;
			font-size: 25px;
			color: #e77983;
			font-style: normal;
			text-decoration: none;
		}

		footer .phone a:hover {
			opacity: .75;
		}

		#project-photo .text {
			z-index: 2;
			  color: white;
			  margin-top: -63px;
			  top:50%;
			  height: 125px;
			  display: inline-block;
			  position: relative;
		}



/* slide mobile menu */
		

		#page {
			position: relative; /* Set the position property so z-index will apply */
			z-index: 20; /* Make sure this is higher than #mob_menu */
			height: 100%;
			transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
		}


		#mob_menu {
			display: none;
			position: fixed;
			top: 0px;
			right: 0;
			width: 220px;
			height: 100%;
			padding: 0;
			margin: 0;
			list-style: none;
			background-color: #222222;
			z-index: 10;
			transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
		}

		#mob_menu .sidemenu-footer {
		  position: absolute;
		  bottom: -1px;
		  right: 0;
		  width: 100%;
		  text-align: right;
		}
		#mob_menu .sidemenu-footer .phone a{
		    font-size: 19px;
		    color: #d0671c;
		    letter-spacing: 0;
		    font-weight: bold;
		    line-height: 19px;
		    padding: 11px 19px;
		}
		#mob_menu .sidemenu-footer .address{
			font-size: 11px;
			color: #a9a9a9;
			font-style: normal;
			padding: 0 19px 18px;
		}
		.side-menu a.soc-icon{
			border-color: #4d4d4d;
		    padding: 12px 11px;
		    display: block;
		    width: 56px;
		    height: 58px;
		    margin: 0 -1px 0 0;
		    float: left;
		}
		.side-menu .soc-icon-image{
			fill: #777777;
		}
		.side-menu .soc-icon-image.mail{
		    margin: 10px 0 0 8px;
		}
		.side-menu .soc-icon-image.instagramm{
		    margin: 8px 0 0 8px;
		}
		
		/* Animations */

/*		#page,*/
		#mob_menu, header {
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;
		}

		/* Hide the menu unless it's animating or visible */
		.animating #mob_menu, .menu-visible #mob_menu {
			display: block;
		}

		/***
		* If the animating class is present then apply
		* the CSS transition to #page over 250ms.
		*/
		.animating #page,
		.animating header {
			transition: transform 400ms ease;
			-webkit-transition: -webkit-transform 400ms ease;
		}

		/***
		* If the left class is present then transform
		* the #page element 220px to the left.
		*/	
		.animating.left #page,
		.animating.left header {
			transform: translate3d( -219px, 0, 0 );
			-webkit-transform: translate3d( -219px, 0, 0 );
		}

		/***
		* If the right class is present then transform
		* the #page element 220px to the right.
		*/
		.animating.right #page,
		.animating.right header {
			transform: translate3d( 219px, 0, 0 );
			-webkit-transform: translate3d( 219px, 0, 0 );
		}

		/***
		* If the menu-visible class is present then
		* shift the #page 220px from the right edge
		* via position: absolute to keep it in the 
		* open position. When .animating, .left and
		* .right classes are not present the CSS
		* transform does not apply to #page.
		*/
		.menu-visible #page,
		.menu-visible header {
			right: 219px;
		}
		
/* slide mobile menu */	
		
		

section#about_accorderon .fullscreen {
  max-height: 680px;
}	

.bl-counter {
	position: absolute;
	width: 16px;
	height: 16px;
	padding-top: 2px;
	left: 5px;
	top: 5px;
	background-color: #666666;
	color: #fff;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
}

/* 404 page */
.error404-bg{
	background-image: url(../img/bg_404.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	padding-top: 143px;
}
.error404 .content{
	max-width: 930px;
	margin: 0 auto;
}
.error404{
	text-align: center;
}
.error404 h2{
	display: inline-block;
	position: relative;
    margin-top: 25px;
    font-size: 160px;
    line-height: 160px;
}
.error404 h2 .buble_404 {
    position: absolute;
    right: -116px;
    top: -37px;
    width: 139px;
    height: 68px;
    background-image: url(../img/buble_404.png);
    font-size: 24px;
    text-transform: uppercase;
    display: block;
    line-height: 54px;
	color: #ec6707;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.error404 h2 .buble_404 {
		background-image: url(../img/buble_404@2x.png);
		background-size: 139px 68px;
	}
}

.error404 h3{
	font-size: 40px;
	text-transform: uppercase;
    padding-top: 10px;
}
.error404 hr {
	width: 89%;
    border-top: 1px solid #c2c5c7;
    margin: 35px auto 30px;
	
}
.error404 h4{
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
    margin-bottom: 40px;
}
.error404 p{
	font-size: 24px;
	font-style: normal;
}
.error404 #pusher{
	padding-top: 0;
}	
.error404 .thumbnails li{
	display: inline-block;
	width: 220px;
	margin: 0 40px;
	text-align: center;
    padding-bottom: 26px;
}
.error404 .thumbnails{
	text-align: center;
    margin-top: 25px;
}
a.button-small{
    width: 160px;
    margin: 27px auto;
    height: 44px;
    line-height: 44px;
	
}
.error404 a.black-hover{
    position: relative;
}
		


@media all and (max-width: 1430px){
	header .menu-compact .phones { display: none; }
}

@media all and (min-width: 1024px) and (max-width: 1150px){
	.service .description {
		width: 49%;
	}
}	
		
@media all and (min-width: 1024px){
	#services .fullscreen{
		max-height: 690px;
	}
}
@media all and (min-width: 1025px) and (max-width: 1110px){

	#homeservices .service-box.wide .service-text h3{ font-size: 30px;}
	#homeservices .service-box.wide.first .service-text h3{ font-size: 32px;}
	#homeservices .service-box.narrow .service-text h3{ font-size: 27px;}
	#projectabout  .author-comment .comment { width: 58%;}
	
	/* блок Авторский надзор на стр Услуги */
	#service-supervision .description {
		width: 540px;
	}
	#service-supervision.service .photo{
		width: -moz-calc(100% - 540px);
		width: -webkit-calc(100% - 540px);
		width: calc(100% - 540px);
	}
	#service-supervision.service .table-of-content {
		width: -moz-calc(100% - 580px);
		width: -webkit-calc(100% - 580px);
		width: calc(100% - 580px);
	}
}


.player .video-wrapper, .player .video-wrapper .flideo, .player .video-wrapper object, .player .video-wrapper video {
  width: 100%;
  height: 100%;
}

ul.awards {
/*	bottom: 17px;*/
	bottom: 11px;
	list-style: none outside none;
	position: absolute;
	right: 51px;
	margin-bottom: 0;
}
ul.awards li {
	float: left;
	margin-left: 20px;
}

ul.awards img {
	width: 61px;
	height: 94px;
}

.vegas-slide-inner {
	/*image-rendering: -moz-crisp-edges;          Firefox */
	image-rendering:   -o-crisp-edges;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

img.alignleft{
	float: left;
	margin: 0 20px 20px 0;
}

img.alignright{
	float: right;
	margin: 0 0 20px 20px;
}

.three-images img,
.three-images img.alignleft,
.three-images img.alignright {
	width: calc(33.333% - 5px);
	margin: 0 5px 5px 0;
	height: auto;
}
