@media all and (min-width: 1440px) {
	/*
	.logo a {
		background-image: url(../img/logo2016-wide.svg);
		background-size: 337px 44px;
		height: 44px;
		width: 337px;
	}
	*/
	header .phones {
		display: block;
	}

	header nav ul li a {
		font-size: 14px;
	}

	.homeslider .slide_text h2 {
		font-size: 37px;
	}
	
	#homepage .scrolldown {
		bottom: 20px;
	}

	.share {
		top: auto;
		bottom: 20px;
		right: 60px;
	}
	.wrapper-special {
		width: 1300px;
		right: 50%;
		margin-right: -650px;
	}
	.contact-info h4 {
	  font-size: 27px;
	  font-weight: normal;
	  line-height: 35px;
	}

	#homeprojects #container .grid-sizer { width: 293px; }
	#homeprojects #container .gutter-sizer { width: 6px; }

	#homeprojects #container .item{
		margin-bottom: 6px;
		width: 293px;
		height: 296px;
	}

	#homeprojects #container .item.w2{ width:592px;}
	#homeprojects #container .item.h2{ height:598px;}

	

	#blog_container .grid-sizer {width: 391px;}
	#blog_container .gutter-sizer {width: 13px;}
	#blog_container .item{
		width: 391px;
	    margin: 0 0 13px 0;
	}
	#blog .wrapper {margin: 0 auto;}
	
	
	

	#projects_container .grid-sizer {width: 391px;}
	#projects_container .gutter-sizer {width: 13px;}
	#projects_container .item{
		width: 391px;
	    margin: 0 13px 13px 0;
	}

	#portfolio .wrapper {
		max-width: 1715px;
		margin: 0 auto;
	}
	#portfolio .isotope_container { margin: 0 -6px 0 0;}

	
	#projectabout .item.text p {
		font-size: 100%;
	}


	#projectabout #container .grid-sizer,
	#extra_images #container2 .grid-sizer { width: 396px; }
	#projectabout #container .gutter-sizer,
	#extra_images #container2 .gutter-sizer { width: 6px; }
	#projectabout #container .item,
	#extra_images #container2 .item { width: 396px; height: 396px; margin-bottom: 7px;}
	#projectabout #container .item.w2,
	#extra_images #container2 .item.w2 { width:798px;}
	#projectabout #container .item.w3,
	#extra_images #container2 .item.w3 { width:100%;}
	#projectabout #container .item.h2,
	#extra_images #container2 .item.h2{ height:799px;}
	
	#projectabout #container .item.w3 .table.wider-text {
		width: 80%;
		margin: 0 auto;
	}

	#projectabout .item.text .cell {
		padding: 0 30px;
	}
	#projectabout .w3.author-comment .avatar {
		margin-left: 0;
	}

	#projectabout .item.text h2{
		font-size: 36px;
		line-height: 36px;
	}

	#projectabout .author-comment .comment h2 {
		font-size: 38px;
		line-height: 38px;
	}
	
	#projectabout .wrapper.limited {
		max-width: 1300px;
	}
}

@media all and (min-width: 1600px) {

	.homeslider .slide_text h2 {
		font-size: 42px;
	}
}


@media all and (min-width: 1800px) {
	section.homeabout {
		background-image: url(../img/homapage_nataly_black2.jpg);
	    max-height: 733px;
	}	

	.homeslider .slide_text h2 {
		font-size: 50px;
	}
}

@media all and (min-width: 1300px) and (max-width: 1714px){
/*	#homeprojects .wrapper.limited {max-width: 1310px;}*/
	#blog .wrapper {max-width: 1310px;}
	#portfolio .wrapper {max-width: 1310px;}
}
@media all and (min-width: 1715px) and (max-width: 2121px){
/*	#homeprojects .wrapper.limited {max-width: 1715px;}*/
/*	#homeprojects #container .item.h2{ height:405px;}*/
	#blog .wrapper {max-width: 1715px;}
/*	#portfolio .wrapper {max-width: 1715px;}*/
}
@media all and (min-width: 2122px) and (max-width: 2528px){
/*	#homeprojects .wrapper.limited {max-width: 2130px;}*/
/*	#homeprojects #container .item.h2{ height:405px;}*/
	#blog .wrapper {max-width: 2130px;}
/*	#portfolio .wrapper {max-width: 2130px;}*/
}
@media all and (min-width: 2529px) {
/*	#homeprojects .wrapper.limited {max-width: 2545px;}*/
/*	#homeprojects #container .item.h2{ height:405px;}*/
	#blog .wrapper {max-width: 2545px;}
/*	#portfolio .wrapper {max-width: 2545px;}*/
}