@media (min-width: 1025px) and (max-width: 1440px){
	#projectabout .item.text h2 {
		font-size: 22px;
		line-height: 26px;
	}
}
@media all and (max-width: 1024px){
	.single-image {
		height: auto;
		width: 100%;
	}
	
	
		
	.error404 .thumbnails li {
		margin: 0 15px;
	}
	
	.hide1023{
		display: none !important;
	}
	.show1023{
		display: block !important;
	}
	
	hr.centered {margin-left: auto; margin-right: auto;}
	
	.wrapper {
	  padding: 0 20px;
	}
	
	.wrapper.content-holder {
		padding: 0;
		overflow: hidden;
	}
/* header */
	header{
		height: 78px;
	}
	#pusher {
		padding-top: 78px;
	}

	.scrolling .logo a,
	.logo a {
		left: 20px;
	}
	.menu-open {
		right: 20px;
		top: 30px;
	}
	.scrolling .menu-open {
		top: 20px;
	}
	
	.share {
		right: 20px;
		top: 100px;
		width: 37px;
		height: 37px;
	}
		.share .share-icon {
			margin-top: 10px;
		}
		.share .soc-icon-image {
			margin-top: -10px;
		}
		.share a {
			width: 37px;
			height: 37px;
		}
		.share .switcher {
			width: 37px;
			height: 37px;
		}
		#shareProject.active a.pt {
			right: 45px;
		}
		#shareProject.active a.vk {
			right: 92px;
		}
		#shareProject.active a.tw {
			right: 138px;
		}
		#shareProject.active a.gp {
			right: 185px;
		}
		#shareProject.active a.fb {
			right: 232px;
		}
	
	.lang-selector {
		display: none;
	}
	
	.lookmore-holder {
		padding: 40px 0;
	}
	
/* homepage */

	section.homeabout {
		background-position: 40% center;
		margin-bottom: 0px;
	}
	section.homeabout .content{
		left: 49%;
		margin-left: 0;
		width: 330px;
		z-index: 2;
	}
	section.homeabout .content p.label {
		font-size: 13px;
		margin: 0.5em 0 1.5em;
	}

	section.homeabout .background-photo {
		background-position: right bottom;  
		width: 79%;
	    left: -30%;
	}
	
	.slider-prev {
/*		right: 86px;*/
		display: none;
	}
	.slider-next {
/*		right: 21px;*/
		display: none;
	}

	section.homeabout .content h2 {
		letter-spacing: 0;
	}
	
	.homeslider .slide_text h2{
		font-size: 38px;
	}
		section.homeabout .content h2{
			font-size: 35px;
		}
		
		section.homeabout .content p{
		    font-size: 13px;
			}
		.homeslider .slide_text {
			left: 44px;
		}

	#homeservices .service-box {
	    margin-right: .8% !important;
	    margin-bottom: .8%;
	}
	
	#homeservices .service-box.narrow {
		width: 32.1%;
	}

	#homeservices.fullscreen,
	#homeservices .serv_container.fullscreen{
		height: 615px;
	}
	
	#homeservices hr {
		margin: 1em 0 1em 4px;
	}	
	
	#homeservices .service-box p {
		font-size: 15px;
		line-height: 120%;
	}
	

	#homeservices .service-box.narrow .service-text h3{font-size: 22px;}
	#homeservices .service-box.wide .service-text h3 {font-size: 26px;}
	#homeservices .service-box.wide.first .service-text h3 {font-size: 26px;}
		#homeservices .service-box.narrow .service-text {
			padding-left: 8%;
			padding-right: 5%;
		}
		#homeservices .service-box.wide .service-text {
			padding-left: 5%;
		}
		#homeservices .service-box.wide.first .service-text{
			padding-left: 5%;
		}
		#homeservices {
			margin: 20px auto;
		}
	#homeprojects {
		padding-top: 20px;
		padding-bottom: 20px;
	}
		#homeprojects #container .gutter-sizer { width: .8%; }
		
		
		#homeprojects #container .grid-sizer { width: 32.8%; }
		
		#homeprojects #container .item{
			height: 326px;
/*			margin-bottom: .8%;*/
/*		    margin-bottom: 6px;*/
			width: 32.6%;
		}
		#homeprojects #container .item.h2{
			height: 660px;
		}
		#homeprojects #container .item.w2{ width: 100%;}
		#homeprojects #container .item.w2 {width: 66.3%;}
		
		#homeprojects #container .item .hover-bg {
			opacity: 1;
			background: none;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}
		#homeprojects #container .item .hover-bg:hover {
			background: rgba(0,0,0,0.4);
		}
		#homeprojects #container .item a .cell{
			opacity: 1;
		}
		#homeprojects #container .item .hover-bg .table{
		    height: auto;
		    position: absolute;
		    bottom: 10px;
		    background: rgba(255,255,255,.8);
		    width: calc(100% - 20px);
		    width: -moz-calc(100% - 10px);
		    left: 10px;
			display: block;
			box-shadow: 0 0 3px 0 rgba(2,3,3,0.4);
			-webkit-box-shadow: 0 0 3px 0 rgba(2,3,3,0.4);
		}
		#homeprojects #container .item .hover-bg .table .cell{
		    padding: 10px 15px;
			display: block;
		}
		
		
		#homeprojects #container .item .h3 {
			  font-size: 22px;
			  padding-bottom: 5px;
			  padding-top: 8px;
			  height: auto;
			  overflow: hidden;
			  text-overflow: ellipsis;
			  white-space: nowrap;
			  display: block;
		}
		#homeprojects #container .item a:hover .h3 {
			color: #e77983;
		}
		#homeprojects #container .item span.year {
		  font-size: 12px;
		}
		
		:not("#about") .lookmore-holder {
			background-color: transparent;
			padding: 0;
		}	
		
		
	footer{
		height: 100px;
	}
	
	#pusher {
	  margin: 0 auto -100px;
	  padding-bottom: 100px;
	}	
		footer .phone {
			padding-top: 30px;
		}
		footer .copyright {
		  clear: right;
		  float: right;
		  line-height: 78px;
		  padding-right: 27px;
		}
		footer .social {
/*			margin: 24px 0 9px 22px;*/
		    position: absolute;
		    left: 16px;
		    height: 40px;
		    top: 7px;
		}
		
		footer .copyr {
			display: none;
		}
		
		footer .contacts ul {
			margin-top: 24px;
		}
			footer .contacts li {
				margin-bottom: 15px;
			}
		
		footer .soc-icon {
			width: 34px;
			height: 34px;
			margin: 0 4px;
		}
		footer .soc-icon-image {
			width: 32px;
			height: 32px;
		}
		
		.copyr-mobile {
			display: block;
		} 
		
		.menu-expanded {
			padding-right: 0;
		}

		header .phones {
			float: none;
			padding-top: 26px;
			font-style: normal;
			margin: 0 auto;
			text-align: center;
		}
		header .phones ul li {
			margin-left: 0;
		}
		header .phones ul li .phone{
			font-size: 22px;
			letter-spacing: 0.2px;
		}
		
		header .menu-compact .phones {
			position: static;
			padding-top: 17px;
			display: block;
		}
		
	
	

	
	#portfolio #projects_container .item {
		width: 32.5%;
		margin: .4%;
		height: 324px;
	}
	
	#portfolio .isotope_container .item .project-img{
		width: 100%;
		height: 324px;
	}
	#projects_container .item .title{
		font-size: 14px;
	    font-family: 'Ubuntu-Conv';
		padding-top: 0px;
		padding-bottom: 3px;
	}
	#projects_container .item .year {
		font-size: 11px;
		font-style: normal;
	}
	#projects_container .item .project-text {;
		height: auto;
		background: rgba(255,255,255,.8);
		padding: 14px;
		position: absolute;
		z-index: 1;
		width: calc(100% - 20px);
		width: -moz-calc(100% - 20px);
		bottom: 10px;
		left: 10px;
		box-shadow: 0 0 3px 0 rgba(2,3,3,0.4);
		-webkit-box-shadow: 0 0 3px 0 rgba(2,3,3,0.4);
	}

	
	
	.filters {
		margin-left: -3px;
	}
	#portfolio .filters{
		padding: 20px 0 16px;
	}
	
	#blog .filters{
		padding: 20px 0 11px;
	}
	.filters button{
	    margin: 0 6px 0 0;
		padding: 0 6px;
	}
	#portfolio .wrapper {
	  padding: 0 20px 28px;
	}
	footer .wrapper {
		padding: 0 20px;
	}

	/* menu */
	.menu-open{
		display: block;
	}
	nav#menu{
		display: none;
	}
	
	#blog #blog_container .item{
		width: 49.2%;
		height: auto;
	}

	#blog #blog_container  .grid-sizer { width: 49.2%; }
	
	#blog .item p {
	  line-height: 140%;
	}
	#blog .wrapper {
	  padding-bottom: 30px;
	}
	#blog a.lookmore {
	  margin: 31px auto 30px;
	}
	#about #about_accorderon .accordeon-holder{
		display: none;
	}
	#about #about_accorderon .homeslider{
		display: block;
		height: 647px;
	}
	#about .homeslider .slide_text{
		background: rgba(0,0,0,0.4);
		  width: 100%;
		  height: 250px;
		  left: 0;
		  bottom: 0;
		  top: auto;
		  padding-left: 44px;
		  padding-top: 45px;
		  padding-right: 30px;
		  padding-bottom: 15px;
	}
	#about .homeslider .slide_text h2 {
	  font-size: 30px;
	}
	.homeslider .slide_text p {
		line-height: 22px;
		max-width: 100%;
		padding-top: 4px;
	}
	#about .slider-prev{
		top: 45%;
		right: auto;
	    left: 59px;
	}
	#about .slider-next{
		top: 45%;
	    right: 59px;
	}
	#about .nataly-collage{
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.video-background {
		width: 100%;
	}
	#about .team-holder .wrapper{
/*		height: 300px;*/
	}
	
	.employee-item {
		margin-left: 0;
		background-color: #f4f4f4;
		padding: 37px 64px;
	}
	
	.employee-item:hover .ava {
		border-color: #c9cacb;
	}
	.employee-item:hover .ava:after {
		opacity: 0;
	}
	
	.employee-item .desc {
		opacity: 1;
		transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		text-align: center;
	}
	
	.team-holder .left.browse,
	.team-holder .right.browse {
	    width: 50px;
	    height: 50px;
	    position: absolute;
	    top: 50%;
	    z-index: 5;
	    margin-top: 14px;
		cursor: pointer;
	}
	.team-holder .left.browse {
	    left: 38px;		
	}
	
	.team-holder .right.browse {
	    right: 38px;
	}
	
	.team-holder .slider-arrow-right {
		fill: #000000;
	    top: 16px;
	    left: 16px
	}
	
	.team-holder .slider-arrow-left {
		fill: #000000;
	    top: 16px;
	    right: 16px
	}
	

	.scrollable {
	    position:relative;
	    overflow:hidden;
	    min-height: 410px;
		margin: 35px auto 0;
	}

	.scrollable .items {
	    width:20000em;
	    position:absolute;
	    clear:both;
	}

	
	


	/* services */
	
	#services .service h2 {
		font-size: 26px;
	}
	
	#services .service h3 {
		margin-bottom: 15px;
	}
	
	#services .service hr {
		margin: 15px 0;
	}

	#services .service .table-of-content{
		top: 10px;
		height: -webkit-calc(100% - 20px);
	}
	#services .service.rightside .table-of-content{right: 10px;}
	#services .service.leftside .table-of-content{left: 10px;}
	
	
	
	#services .service .description {
		width: 47%;
	}
	
	#services .service .photo {
		width: 53%;
	}
	#services .service .table-of-content {
		width: -webkit-calc(53% - 20px);
	}


		
/* contacts */
		.page-id-14 footer .copyright {
		 	line-height: 20px;
		}
	
		.page-id-14 footer .social {
			padding-top: 18px;
			position: static;
		}
		.page-id-14 .copyr-mobile {
			top: 27px;
			right: 20px;
			left: auto;
			font-size: 11px;
			text-align: right;
		}

		.contact-info {
			bottom: 120px;
			top: auto;
			right: auto;
			left: 50%;
			margin-left: -219px;
			width: 438px;
			height: 244px;
			padding: 35px;
			text-align: center;
		}
		.contact-info h4 {
			font-weight: normal;
			font-size: 17px;
			margin-bottom: 8px;
		}
		.contact-info h3 {
		  font-size: 24px;
		}
	
		.contact-info hr {
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.contact-info .email a {
		    font-size: 15px;
		}
		.contact-info .phone {
		    line-height: 100%;
		}
	
		.page-id-14 footer .for-contacts-page {
			font-size: 11px;
			margin-top: 14px;
			width: 220px;
		}
			.page-id-14 footer .for-contacts-page span {
				display: inline;
			}
		
/* single-new (single-post) */
/*		#single-new .filters {
		  padding: 23px 0 26px;
		}
*/		#single-new .page_content {
		  float: none;
		  width: 100%;
		  margin-left: 0;
		}
		#single-new .sidebar {
		  float: none;
		  width: 100%;
		}
		#single-new .page_content .big-img.img-container {
			height: 440px;
		}
		#single-new .page_content .header .img-container .social {
		  bottom: 17px;
		}
		#single-new .content h2, #single-new .content h3, #single-new .content h4, #single-new .content p, #single-new .content ul {
		  padding-left: 0;
		  padding-right: 0;
		}
		#single-new .page_content .footer {
		  margin: 39px 34px 62px 28px;
		}
		
		
		#single-new .sidebar {
			overflow: hidden;
			padding: 0 20px 25px 20px;
		}
	  #single-new .sidebar .news-list li {
			width: 49%;
			min-height: 120px;
			vertical-align: top;
			padding-left: 30px;
			zoom: 1;
			*display: inline;
			_height: 120px;
			display: -moz-inline-stack;
	}
		.tablet-white-bg{
			background: #ffffff;
		}

		.bottom-nav-buttons {
			padding: 37px 0 37px;
		}

		#single-new .sidebar .news-list li .img-container {
		    width: 39%;
		    margin-right: 4%;
		    max-width: 135px;
		}
		
		#single-new .bottom-nav-buttons {
			width: auto;
			margin: 0 -20px;
		}
		#single-new a.arrow.rightside,
		#single-new a.arrow.leftside {
		  top: 35px;
		}

		/* single-new sidebar */

		#single-new .sidebar .news-list {
		  padding: 10px 0px;
		}

		#single-new .sidebar .news-list li {
			width: 49%;
			padding-left: 6px;
		    min-height: 70px;
		    padding-bottom: 15px;
		}
		#single-new .sidebar .news-list li .img-container {
		  width: 40%;
		  margin-right: 2%;
		  max-width: 155px;
/*		  height: 210px;*/
		  float: left;
		}
		#single-new .sidebar .news-list li .text-container {
		  width: 58%;
		  display: inline-block;
		  float: left;
		}
		#single-new .sidebar .news-list li h4 a{
		  font-size: 18px;
		}
		#single-new .sidebar .news-list li h4{
		  line-height: 18px;
		  margin-bottom: 6px;
		}
		#single-new .sidebar .news-list li p {
			font-size: 16px;
			padding-top: 0px;
			line-height: 18px;
			font-style: normal;
			margin-bottom: 0;
		}
		
		

		
		
/* single-project  */
		
		#projectabout .wrapper {
			padding-top: 20px;
			padding-bottom: 16px;
		}
		
		#extra_images {
			padding-top: 21px;
		}
		
		#project-photo .text hr {
			margin: 1.4em auto 1.4em auto;
		}
		#projectabout .item.text p {
			font-size: 100%;
		}
		#project-photo .text p {
			text-align: center;
			font-style: normal;
		}
		#projectabout .item.text h2 {
			font-size: 26px;
		    line-height: 26px;
		}
		
/*		#projectabout .wrapper,
		#extra_images .wrapper { padding-top: 30px;}
*/		
		#projectabout #container .gutter-sizer,
		#extra_images #container2 .gutter-sizer {
			width: 10px;
		}
		#projectabout #container .grid-sizer,
		#extra_images #container2 .grid-sizer {
/*			width: 32%;*/
		}
		
		#projectabout #container .item,
		#extra_images #container2 .item {
			height: 324px;
			width: 32%;
			margin-bottom: 5px;
		}
		#projectabout #container .item.h2 {
			height: 653px;
		}
		#projectabout #container .item.w2 {
			width: 66.5%;
		}

		#projectabout #container .item.text .cell {
			padding: 20px;
			text-align: center;
			overflow: hidden;
		}
		#projectabout .item.text p,
		#single-project .customer-comment p {
			font-style: normal;
			font-size: 13px;
		}
		
		#projectabout .author-comment .avatar {
			margin: 0px 25px 0px 0px;
		}
		
		#projectabout .author-comment .comment {
			text-align: left;
		}
			#projectabout .author-comment .comment h2 {
				font-size: 32px;
				line-height: 32px;
			}
			#projectabout .author-comment p {
				font-style: normal;
				font-size: 15px;
			}
		#projectabout #container .item.w3 {
		  width: 100%;
		  height: 338px;
		}
		#single-project .customer-comment {
		  width: 100%;
		  height: auto;
		  padding: 56px 0 45px;
		}
		#single-project .customer-comment .avatar {
			margin: 8px 65px 8px 32px;
		}

		#single-project .scrolldown {
		  bottom: 31px;
		}
		
		#projectabout .author-comment p.label {
			margin-bottom: -10px;
		}
		
		.bottom-nav-buttons a.arrow.leftside {
			float: left;
			margin: 18px 0 0 20px;
		}
		.bottom-nav-buttons a.arrow.rightside {
			float: right;
			margin: 18px 20px 0 0;
		}

		
		#homeprojects #container .item{
		    margin-bottom: 10px;
		}
		#homeprojects #container .item.h2 {
		  height: 662px;
		}
		.swiper-container, .iosSlider {
			width: auto;
		}
		
}


@media all and (max-width: 860px){
	#homeprojects #container .item{
		margin-bottom: 6px;	
	}
	
		#projectabout #container .grid-sizer,
		#extra_images #container2 .grid-sizer {
			width: 32%;
		}
		
		#projectabout #container .item,
		#extra_images #container2 .item {
			height: 324px;
			width: 32%;
			margin-bottom: 5px;
		}
		#projectabout #container .item.h2 {
			height: 653px;
		}
		#projectabout #container .item.w2 {
			width: 65.5%;
		}
		#projectabout #container .item.w3 {
			width: 98.5%;
		}
}

@media all and (max-width: 768px){
		
	.error404 .thumbnails li {
		margin: 0;
		width: 100%;
	}
	
	.error404 a.black-hover {
		width: 220px;
		margin: 0 auto;
	}
	.error404 h2 {
		font-size: 100px;
	}
	.error404 h3 {
		font-size: 30px;
	}
	.error404 h4 {
		font-size: 24px;
	}
	
	#homeservices.fullscreen, #homeservices .serv_container.fullscreen {
	  height: 427px;
	}
	
	#homeprojects #container .item {
		height: 240px;
		width: 32.7%;
	}
	#homeprojects #container .item.w2 {
		width: 66.2%;
	}
	
	#homeprojects #container .item.h2 {
		height: 486px;
	}
	
	#homeprojects #container .item .h3 {
		font-size: 16.3px;
		padding-top: 0;
	}
	#homeprojects #container .item span.year {
		font-size: 10px;
	}
	
	#portfolio #projects_container .item {
		height: 360px;
		width: 49%;
		margin: .5%;
	}

	#portfolio #projects_container .grid-sizer { width: 49%; }
	#portfolio #projects_container .gutter-sizer { width: .5%; }
	
	#portfolio .isotope_container .item .project-img {
		height: 360px;
	}
	
	.swiper-container {
		width: 100%;
	}
	
	.browse.prev { left: 48px;top: 167px;}
	.browse.next { right: 48px; top: 167px;}
	.browse {cursor: pointer; width: 50px; height: 50px; position: absolute; z-index: 11;}
	.browse .slider-arrow-right,.browse .slider-arrow-left {top: 18px; left: 15px; fill: #000000;}
	.browse:hover .slider-arrow-right, .browse:hover .slider-arrow-left {fill: #ec660a;}
	.browse.disabled,.browse.disabled:hover {cursor: default;opacity: 0.5;}

	.team-holder {
	  margin: 35px 0 20px 0;
	  position: relative;
	}
	.employee-item {
		display: block;
		margin: 0;
		width: 100%;
		padding: 0;
		background-color: #fbfbfb;
	    padding-bottom: 20px;
	}

	.employee-item h3.name {
	  margin: 20px 0 0 0;
	}
	.employee-item .desc {
		width: 180px;
		margin: 0 auto;
		opacity: 1;
		transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
	}
	.employee-item .ava:after {
		display: none;
	}

	#projectabout #container .item.w3 .table.wider-text {
		width: 100%;
	}
	
	#projectabout #container .gutter-sizer,
	#extra_images #container2 .gutter-sizer {
		width: 5px;
	}
	
	#projectabout #container .grid-sizer,
	#extra_images #container2 .grid-sizer {
		 width: 49.6%;
	 }
	
	#projectabout #container .item,
	#extra_images #container2 .item {
		height: 369px;
		width: 49.6%;
	}
	
	#projectabout #container .item.w2,
	#extra_images #container2 .item.w2 { width: 100%;}
	
	#projectabout #container .item.h2,
	#extra_images #container2 .item.h2{ height: 743px;}
	
	
	#projectabout #container .item.mobcube.w2,
	#projectabout #container .item.mobcube.w3,
	#projectabout #container .item.mobcube.h2 {
		height: 369px;
		width: 49.6%;
	}

	
	#projectabout #container .item.text{
		width: 100%;
		height: auto;
		display: block;
	}
	#projectabout #container .item.text.author-comment {
		/*overflow: auto;*/
		/*width: 49.6%;*/
		width: 100%;
	    text-align: center;
	}

/*	#projectabout #container .item.text.author-comment,
	#extra_images #container2 .item.text.author-comment { height: 570px;}*/
	
	#projectabout #container .item.text.author-comment .cell {
	    padding-left: 10%;
	    padding-right: 10%;
	}
	#projectabout .author-comment .avatar {
		margin: 19px 0 12px 0;
		float: none;
	}
	#projectabout .author-comment .comment {
		float: none;
		width: 100%;
	}
	#projectabout .author-comment .comment h2 {
		line-height: 120%;
	}
	#projectabout .author-comment hr {
		margin-left: auto;
		margin-right: auto;
	}
	
	#projectabout .author-comment .comment {
		text-align: center;
	}
	
	#about .homeslider .slide_text {
		padding: 20px;
	}
	
	#about .homeslider .slide_text {
		height: 210px;
	}
	
	#services .service .description {
		padding: 28px 10px 20px 30px;
	}
	
	.services-height {
		height: 677px;
	}

	#service-design.service .description,
	#service-supervision .description,
	#service-dekor.service .description,
	#service-complectation.service .description,
	#service-design.service .photo,
	#service-supervision.service .photo,
	#service-dekor.service .photo,
	#service-complectation.service .photo{
		width: 50%;
	}
	#service-design.service .table-of-content,
	#service-supervision.service .table-of-content,
	#service-dekor.service .table-of-content,
	#service-complectation.service .table-of-content {
		width: -moz-calc(50% - 20px);
		width: -webkit-calc(50% - 20px);
		width: calc(50% - 20px);
	}
	
	
		.copyr-mobile,
		footer a {
			font-size: 11px;
		}
	
		footer .phone a {
			font-size: 22px;
		}
		
		/* single-new sidebar */
		
		#single-new .sidebar .news-list li h4 a{
		  font-size: 16px;
		}
		#single-new .sidebar .news-list li h4{
		  line-height: 18px;
		  margin-bottom: 2px;
		}
		#single-new .sidebar .news-list li p {
			font-size: 14px;
			line-height: 16px;
		}
		
		footer .soc-icon {
			margin: 0;
		}
}

@media all and (max-width: 652px){
	#homeservices .service-box.wide {
		width: 65.5%;
	}
	#homeservices .service-box.narrow {
		width: 32.5%;
	}
}
		

@media all and (max-height: 440px){
	.side-menu a {
		padding: 8px 20px 8px;
	}
}
@media all and (max-height: 370px){
	.sidemenu-footer .social{
		display: none;
	}
}

@media all and (max-height: 320px){

	#mob_menu .sidemenu-footer {
		display: none;
	}
	
}
