/* mobile */
@media all and (max-width: 676px){
	
	header {
		top: 0;
		position: fixed !important;
	}
	
	.error404-bg {
		padding-top: 70px;
	}
	
	.error404 h2 .buble_404 {
		right: -50px;
	}
	img.alignnone {
	    margin-left: -15px;
	    width: calc( 100% + 30px );
	    width: -webkit-calc( 100% + 30px );
	}
	
	header {
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	}
	
	img {
/*	    max-width: 100%;
		height: auto;*/
	}
	.hide639{
		display: none !important;
	}
	.show639,
	a.button.show639{
		display: block;
	}
	span.show639{
		display: inline;
	}
	.wrapper {
	  padding-left: 10px !important;
	  padding-right: 10px !important;
	}
	#homeprojects .wrapper {
	  padding-left: 3px !important;
	  padding-right: 3px !important;
	  margin: 0 -0.5%;
	}
	#blog .wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}
	.menu-open {
		right: 10px;
	}
	.scrolling .logo a,
	.logo a {
		background-size: 190px 34px;
		width: 190px;
		height: 34px;
		left: 10px;
		top: 11px;
	}
	.scrolling header {
	  height: 55px;
	}
	#pusher,
	.scrolling #pusher {
		padding-top: 55px;
	}

	.single-projects #pusher,
	.page-template-homepage #pusher,
	.scrolling.single-projects #pusher,
	.scrolling.home #pusher {
		padding-top: 0;
	}

	.page-template-homepage #pusher,
	.page-template-homepage .scrolling #pusher,
	.page-template-about-php #pusher,
	.page-template-about-php .scrolling #pusher {
		padding-top: 0px;
	}

	.scrolling .menu-open,
	.menu-open {
	  top: 19px;
	  right: 8px;
	}
	.menu-open .sandwich {
	  width: 23px;
	  height: 16px;
	  border-top: 2px solid #7f7f7f;
	  border-bottom: 2px solid #7f7f7f;
	}
	.menu-open .sandwich:after {
	  top: 5px;
	  width: 23px;
	  height: 2px;
	}
	header .phones {
		padding-left: 0;
		padding-right: 0;
		padding-top: 27px;

	}
	header .phones ul li .phone {
	  font-size: 20px;
	  padding-right: 20px;
	}
	.side-menu a.menu-close {
		padding: 0 0 54px;
	}
	.homeslider .slide_text {
		top: 50%;
		left: 20px;
		margin-top: -90px;
		bottom: auto;
		width: calc( 100% - 40px );
	}
	.homeslider .slide_text hr{
		margin: 9px 0 3px 4px;
	}
	.homeslider .slide_text h2{
		font-size: 39px;
		padding-right: 15px;
	}
	.homeslider .slide_text p{
		font-size: 14px;
		line-height: 150%;
		padding-right: 25px;
		margin-bottom: 0;
		line-height: 19px;
	}
	.homeslider .slider-prev {
		right: auto;
		left: 21px;
		top: 65%;
		top: auto;
		bottom: 10px;
	}
	.homeslider .slider-next {
		right: 21px;

	    top: auto;
	    bottom: 10px;
	}

	.about-mobile-description {
		display: block;
	}

	#homeprojects #container .item a.mobile-arrow {
		display: block;
	}
	

	section.homeabout.fullscreen{
		height: 430px;
		max-height: 430px;
		position: relative;
		background-position: 36% center;
	}
	#about section.homeabout.fullscreen{
		margin-top: 55px;
		background-position: 23% center;
	}
	
		section.homeabout .content p.label {
		}
		section.homeabout .detailed {
			display: none;
		}
		section.homeabout .content hr {
			margin: 13px auto 10px;
			border-width: 1px;
		}
		section.homeabout .content h2 {
		  font-size: 20px;
		}
		section.homeabout .content p {
			line-height: 14px;
			font-size: 14px;
			margin: 10px auto 0;
		}
		section.homeabout .content .readmore {
			margin-top: 23px;
		}
		section.homeabout .content .readmore .arrow-right {
			width: 13px;
			height: 11px;
		}
		section.homeabout hr {
			margin-left: auto;
			margin-right: auto;
		}
		section.homeabout .hr-1 {
			display: block;
		}
		section.homeabout .hr-2 {
			display: none;
		}
		
	#homeservices.fullscreen, #homeservices .serv_container.fullscreen {
	  height: auto;
	}
	#homeservices {
	  margin: 17px auto 20px;
	}

	h2.blocktitle{
		color: black !important;
		text-align: center;
		font-size: 25px;;
		line-height: 25px;
		margin: 0px 0 16px;
	}
	#homeservices .service-text.cell.middle {
		padding-bottom: 15px;
	}
	#homeservices hr {
		border-top: 1px solid #ffffff;
		width: 50px;
		margin: 8px auto 0;
	}
	#homeservices .service-box.wide .service-text h3,
	#homeservices .service-box.narrow .service-text h3 {
		text-align: center;
		font-size: 26px;
	}
	#homeservices .service-box.last .service-text h3 {
		font-size: 22px;
	}
	#homeservices.wrapper {
	  padding-left: 0 !important;
	  padding-right: 0 !important;
	}

	/* homeservices mobile-description */
		#homeservices .service-box-bg {
			width: 100%;
			position: absolute;
			height: 250px;
		}
		#homeservices .service-box .service-link {
		  height: 250px;
		}
		#homeservices .service-box:after {
		  height: 250px;
		}
		#homeservices .service-box .service-text {

		    display: block;
		    position: relative;
		    padding-top: 200px;
		    width: 100%;
		}
		#homeservices .service-box .mobile-description {
			display: block;
			color: black;
			position: relative;
			padding: 6px 20px 0px;
			text-align: center;
			max-width: 400px;
			margin: 0 auto 15px;
		}


		#homeservices .service-box .service-link{
			display: none;
		}
		#homeservices .service-box a.button {
			height: 41px;
			width: 135px;
			line-height: 39px;
			padding-right: 23px;
			  
		}
		#homeservices .service-box a.button .primary-label{
			color: black;
		    font-size: 13px;
		}

		#homeservices .service-box a.button .arrow-right {
		  top: 16px;
		  right: 20px;
		  width: 9px;
		  height: 8px;
		}

		/*#homeservices .service-box a.button:hover {
			padding-right: 23px;
			width: 135px;
		}*/

		#homeservices .service-box a.button:hover .primary-label{
			color: #e77983;
		}
		#homeservices .service-box a.button:hover .arrow-right{
			fill: #e77983;
			display: block;
		}
	/* end homeservices mobile-description */
	#homeservices,#homeservices .serv_container {height: auto; }
	#homeservices .service-box {
		height: 250px;
		margin-bottom: 5%;
	}
	#homeservices .service-text.cell.middle{
		vertical-align: bottom;
		padding-bottom: 17px;
	}
	#homeservices .service-box.wide .service-text {
		padding-right: 3%;
	}
	#homeservices .service-box.wide.first .service-text{
		padding-right: 3%;
	}
	#homeservices  .service-box.wide{ width: 100%; margin: 1% 0 16px;}
	#homeservices  .service-box.narrow{width: 100%; margin: 1% 0 16px;}
	#homeservices .service-box.narrow .service-text p {
	    max-width: 210px;
	}
	#homeservices {
	  margin-bottom: 5px;
	}
	#homeprojects {
		padding-top: 18px;
		padding-bottom: 3px;
	}
	.lookmore-holder {
		padding: 23px 0;
	}

	a.button.lookmore {
		font-size: 14px;
	    height: 43px;
	    line-height: 43px;
	    padding-right: 23px;
	}
	#lookmore-arrow-down {
		top: 18px;
		right: 21px;
		width: 9px;
		height: 8px;
	}	

	#homeprojects .item .image-holder {
		height: 320px;
		top: 1px;
	}

	#homeprojects #container .item {
		border-bottom: 1px solid #cacaca;
		background-color: #f4f4f4;
	}

	#homeprojects #container .item:last-child {
		border: none;
	}

	
	#homeprojects #container .grid-sizer,
	#extra_images #container2 .grid-sizer { width: 100%; height: 382px;}
	#homeprojects #container .gutter-sizer,
	#extra_images #container2 .gutter-sizer {/* width: 1%;*/ }
	#homeprojects #container .item,
	#extra_images #container2 .item{ width:100%; margin: 5px 0 0 0;  height: 382px;}
	#homeprojects #container .item.w2,
	#extra_images #container2 .item.w2{ width:100%;}
	#projectabout #container .item.text.author-comment { width:100%;}
	#homeprojects #container .item.w2,
	#extra_images #container2 .item.w2 {width: 100%;}
	#homeprojects #container .item.h2,
	#extra_images #container2 .item.h2 { height: 382px;}
	#projectabout #container .item.w3 {
	  height: 382px;
	}

	#homeprojects #container .item .hover-text .table{
		display: none;
	}
	
	#homeprojects a.lookmore {
	  margin: 43px auto -4px;
	}
	#portfolio #projects_container .item{
		width: 100%; 
		margin: 0 0 5px 0;
	}
	#portfolio a.lookmore {
		margin: 23px auto;
		width: 180px;
	}
	
	#extra_images .wrapper {
		padding-top: 0;
	}	
	#swipebox-title {
		margin-top: 32px;
	}
	
/* footer */
	footer{
		height: 208px;
	}
	footer .wrapper {
	  padding-left: 0;
	  padding-right: 0;
	}
	#pusher {
	  margin: 0 auto -208px;
	  padding-bottom: 208px;
	}	
		footer .social {
			margin-left: 0;
			text-align: center;
			width: 100%;
			padding-left: 0;
			left: 0;
			position: static;
		}
		footer .contacts{

		    float: none;
		    position: absolute;
		    width: 100%;
		    left: 0;
		    top: 30px;
		    text-align: center;
		    line-height: 15px;
		}
		footer .copyright {
			clear: both;
			float: none;
			line-height: 20px;
			padding-right: 0;
			position: static;
			top: 100px;
			left: 0;
			width: 100%;
			text-align: center;
		}
		footer .phone {
			line-height: 38px;
			position: static;
			width: 100%;
			margin: 0;
			padding: 8px 0 62px;
		}
		footer .soc-icon {
		  width: 40px;
		  height: 40px;
		  margin: 0 2px;
		}
		footer .soc-icon-image {
		  width: 38px;
		  height: 38px;
		}
		.copyr-mobile {
			width: 100%;
			right: 0;
			top: 108px;
			text-align: center;
			position: static;
		}
		footer .social {
		  height: 52px;
		  margin-bottom: 20px;
		}
		
		.page-id-14 .copyr-mobile {
			top: 81px;
		}
		
/* filters */
	.filters {
	    margin: 0 0 0;
	    padding: 33px 0 0;
	    position: relative;
	    padding: 0 !important;
	}
	.filters .title{
		display: none;
	}
	.filters .options{
		background: #ffffff;
		border: none;
		position: static;
		width: 100%;
		top: 100%;
		left: 0px;
		z-index: 1;
		margin-top: 0px;
/*		border-top: 1px solid #cccccc;*/
		padding-bottom: 0;
		text-align: center;
		overflow: hidden;
		display: table;
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
		display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */		
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		justify-content: center;
		
	}
	.filters .options.opened{
		display: block;
	}
	.filters button{
		display: inline-block;
		padding: 4px 18px 3px;
		margin: -1px -1px 0 0;
		width: auto;
		line-height: 23px;
		border-top: 1px solid #cccccc;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		-webkit-flex-grow: 1;
		flex-grow: 1;
	}
	.filters button.is-checked {
	  background-color: #e77983;
	  border-color: #e77983;
	  color: #fff;
	}
	.filters button.is-checked:hover {
		color: #fff;
	}
	.filters button.is-checked:after {
	  display: none;
	}
	
/* portfolio */
	.wrapper {
	  padding-left: 0 !important;
	  padding-right: 0 !important;
	}
	#portfolio .wrapper {
	  padding: 0;
	}
	
	#portfolio .isotope_container .item .project-img {
	  height: 320px;
	}
	
	#projects_container .item .project-text {
		width: 100%;
		width: -moz-calc(100%);
		bottom: 0;
		left: 0;
		height: 63px;
		background: white;
		padding: 14px 10px;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	#projects_container .item .title {
	  padding-bottom: 0px;
	}
	#projects_container .item .year {
	  font-size: 14px;
	}
	#portfolio #projects_container .item {
		height: 383px;
	}
	#portfolio #projects_container { height: 380px; }
	
	
/* blog */
	#blog #blog_container .grid-sizer { width: 100%; }
	#blog #blog_container .gutter-sizer { width: 2%; }
	#blog #blog_container .item{ width:100%;margin: 0 0 0 0;}
	#blog a.lookmore {
		margin: 5px auto 26px;
		width: 180px;
	}
	#blog .item .excerpt {
	  padding: 0 10px 5px;
	}
	
	#blog .item h2 a {
	  font-size: 26px;
	  font-weight: bold;
	  margin: 16px 0 14px;
	  line-height: 28px;
	}
	#blog .item p {
		font-size: 11px;
		font-style: normal;
		line-height: 130%;
	}
	#blog .item p.date {
	  border-bottom: 1px solid #e5e5e5;
	  font-size: 9px;
	  padding-bottom: 7px;
	}

	
/* about */
	#about #about_accorderon .homeslider {
		display: none;
/*	height: 560px;*/
	}
	#about .homeslider .slider-prev {
	  top: 36%;
	  left: 9px;
	}
	#about .homeslider .slider-next {
	  top: 36%;
	  right: 9px;
	}
	#about .homeslider .slide_text {
	  height: 284px;
	  padding-left: 20px;
	  padding-top: 33px;
	  padding-right: 20px;
	  padding-bottom: 15px;
	}
	#about .homeslider .slide_text h2 {
	  font-size: 23px;
	}
	#about .homeslider .slide_text p {
	  font-size: 13px;
	  line-height: 135%;
	}
	.browse.prev {left: 18px;}
	.browse.next {right: 18px;}

/* contacts */
	
	.page-id-14 footer {
		height: 0;
		display: none;
	}
  	.page-id-14 #pusher {
  		margin-bottom: 0;
  		padding-bottom: 0;
  	}
	#contacts, #contacts #map-canvas {
	  min-height: 316px;
	}
	.page-id-14 footer .copyright {
		/*	display: none !important;*/
		position: static;
		margin-top: 0;
	}
	.contact-info {
		bottom: 22px;
	    margin-left: -138px;
	    width: 275px;
	    height: 136px;
	    padding: 15px 10px 10px;
	}
	.contact-info h4 {
		font-size: 11px;
		margin-bottom: 0px;
	}
	  

	.contact-info h3 {
	  font-size: 19px;
	  line-height: 150%;
	  margin-left: -3px;
	}
	.contact-info hr {
	  margin-top: 3px;
	  margin-bottom: 5px;
	  border-top-width: 1px;
	  width: 50px;
	}
	.contact-info .address {
	  font-size: 12px;
	}
	.contact-info .phone a {
	  font-size: 15px;
	}
	.contact-info .phone, .contact-info .email {
	  margin-top: 4px;
	}
/* single-new */
	
	#single-new .columns {
		padding-top: 0;
	}
	#single-new .content {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	#single-new h1 {
	  font-size: 39px;
	  line-height: 38px;
	  text-align: center;
	  margin-bottom: 15px;
	}
	#single-new  .content hr {
	  display: none;
	}
	#single-new .content p.label {
	  line-height: 16px;
	  font-size: 11px;
	  font-style: italic;
	  text-align: center;
	}
	#single-new .content h2 {
	  font-size: 29px;
	  margin-top: 20px;
	  line-height: 29px;
	}
	#single-new .content a {
  	  font-size: 14px;
  	  line-height: 28px;	
	}
	#single-new .content p {
	  font-size: 14px;
	  line-height: 28px;

	  margin-bottom: 30px;
	}
	
	
	#single-new iframe {
		width: 100%;
	}
	
	.newsslider {
		height: 212px;
	}
	#single-new .content .slider-text {
	  margin-top: 3px;
	  font-size: 11px !important;
	  margin-left: 15px;
	  line-height: 15px;
	  padding-right: 15px;
	}
	#single-new .content .images-text {
	  margin-top: 3px;
	  font-size: 11px !important;
	  margin-left: 15px;
	  line-height: 15px;
	  padding-right: 15px;
	}
	#single-new .fullwidth {
	  margin-left: -15px;
	  margin-right: -15px;
	}
	#single-new .fullwidth img{
		margin-top: 1px;
	}
	#single-new .page_content .footer {
	  padding: 27px 0 0;
	  margin: 39px 0px 28px;
	}
	#single-new .page_content .footer .social span.text {
		margin-right: 8px;
	    margin-left: 15px;
	}

	#single-new .footer .soc-icon {
	  width: 30px;
	  height: 30px;
	  margin: 4px 4px 0 0px;
	}
	#single-new .footer .soc-icon .soc-icon-image{
		width: 28px;
		height: 28px;
	}
	#single-new .bottom-nav-buttons {
	  margin: 0;
	}
	.bottom-nav-buttons a.arrow.rightside {
		margin-right: 3px;
	}
	.bottom-nav-buttons a.arrow.leftside {
		margin-left: 3px;
	}
	/* single-new sidebar */
	
	/*#single-new .sidebar .news-list li {
		width: 100%;
		padding-left: 6px;
	    min-height: 70px;
	    padding-bottom: 15px;
	}

	#single-new .sidebar .news-list li .img-container {
	  width: 30%;
	  margin-right: 4%;
	  max-width: 135px;
	  float: left;
	}
	#single-new .sidebar .news-list li .text-container {
	  width: 64%;
	  display: inline-block;
	  float: left;
	}
	*/
	#single-new .sidebar .news-list li .img-container {
	  width: 30%;
	}
	#single-new .sidebar .news-list li .text-container {
		width: 64%;
		max-width: 230px;
	}
	#single-new .sidebar .news-list li {
		width: 100%;
	}
	#single-new .sidebar .news-list li .img-container {
	  padding-top: 4px;
	}
	#single-new .sidebar .news-list li h4 a{
	  font-size: 16px;
	}
	#single-new .sidebar .news-list li p {
		font-size: 11px;
	}

	#single-new .sidebar .news-list li p {
		line-height: 13px;
	}
	#single-new .sidebar .news-list li h4{
	  line-height: 18px;
	}

	#single-new .sidebar .news-list li p {
		font-size: 11px;
	}
/*
	#single-new .sidebar .news-list li p {
		font-size: 11px;
		padding-top: 0px;
		font-style: normal;
		margin-bottom: 0;
	}
*/

	
/*	#single-new .author-comment .comment {
	  width: 100%;
	}
	#single-new .author-comment {
	  text-align: center;
	}
	#single-new .author-comment hr {
	  margin: 0.9em auto 0.6em;
	}
	#single-new .author-comment p.text {
	  text-align: left;
	}
	#single-new .author-comment .avatar {
	   float: none;
	}
	#single-new .author-comment {
		padding-left: 0;
		margin-top: 20px;
		margin-bottom: 27px;
	}*/
	
	#single-new .content h2, #single-new .content h3, #single-new .content h4, #single-new .content p, #single-new .content ul {
	  padding-left: 0;
	  padding-right: 0;
	}
	.newsslider .slider-next, .newsslider .slider-prev {
	  top: 77%;
	}
	.newsslider .slide-info {
	  top: 86%;
	}
	.slider-text {
	  margin: 22px 10px 0;
	}
	.images-text {
	  margin: 22px 10px 0;
	}
	#single-new .fullwidth img{
	  width: 100%;
	}
	
/* */
	
	.bottom-nav-buttons {
	  padding: 37px 0 138px;
	  position: relative;
	}
	.bottom-nav-buttons .button-holder {
	  display: block;
	  position: absolute;
	  width: 100%;
	  top: 84px;
	}
	.bottom-nav-buttons a.arrow {
	  font-size: 15px;
	}
	a.arrow.leftside {
	  float: left;
	  display: block;
	}
	a.arrow.rightside {
	  float: right;
	  display: block;
	}
	
	/* single-project */
	
	#projectabout .item.text.author-comment {
	  width: 100%;
	}
	#project-photo {
		padding: 0;
	}
	
	#project-photo .text {
	  margin-top: 137px;
	  top: 45px;
	  margin-left: 11px;
	  margin-right: 5px;
	}
	#project-photo .text h1 {
	  font-size: 38px;
	  line-height: 46px;
	  text-align: left;
	}
	#project-photo .text hr {
	  margin: 6px 4px;
	}
	#project-photo .text p {
	  text-align: left;
	  padding-top: 10px;
	}
	
	
	
	
	
	#project-photo .share {
		top: auto;
		bottom: 19px;
	}

	#projectabout .wrapper {
		padding-top: 0;
	    padding-bottom: 5px;
	}
	#extra_images {
	  padding-top: 5px;
	}
	
	#projectabout #container .item.mobcube.w2,
	#projectabout #container .item.mobcube.w3,
	#projectabout #container .item.mobcube.h2 {
		height: 155px;
	}	
	
	
	#projectabout #container .grid-sizer { width: 100%;}
	#projectabout #container .gutter-sizer { /*width: 2%;*/ }
	#projectabout #container .item{ width: 100%; margin: 5px 0 0 0;}
	#projectabout #container .item.w2{ width:100%;}
	#projectabout #container .item.text .cell {
	  padding: 10px 20px 7px 20px;
	}
	#projectabout #container .item.text hr {
	  border-top: 1px solid #000000;
	  margin: 19px auto 17px;
	}
	#projectabout #container .item.text.author-comment .cell{
		padding-bottom: 13px;
	}
	#projectabout #container .item.text p {
	  line-height: 145%;
	  font-size: 15px;
	}
	#projectabout #container .item.text {
	  height: auto;
	}
	#projectabout #container .author-comment .avatar {
	  margin: 0px 0 15px 0;
	}
	#projectabout #container .item.text.author-comment p {
	  line-height: 145%;
	  font-size: 15px;
	}
	#projectabout #container .item.text.author-comment p.label {
	  font-size: 13px;
	}
	#projectabout #container .item.text.author-comment .cell {
	  padding-top: 38px;
	  padding-left: 5%;
	  padding-right: 5%;
	}
	#projectabout #container .item.text.author-comment hr {
	  margin: 17px auto 17px;
	}
	
	
	
	#projectabout #container .item, #extra_images #container2 .item {
	  height: 320px;
	}
	#projectabout #container .item.h2, #extra_images #container2 .item.h2 {
	  height: 320px;
	  width: 100%;
	}
	#single-project .customer-comment .comment h2 {
	  font-size: 42px;
	  line-height: 50px;
	}
	#single-project .customer-comment hr {
	  border-top: 1px solid #000000;
	  margin: 23px auto 17px;
	}

	#projectabout #container .item.text {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	
	
	
	
	
	#single-project .customer-comment{
	    text-align: center;
	    padding: 36px 0 45px;
	}
	#single-project .customer-comment .avatar {
	  margin: 7px 0;
	  float: none;
	}
	#single-project .customer-comment .comment {
	  width: 100%;
	  float: none;
	  padding-right: 10px;
	}
	#single-project .customer-comment p {
	  font-size: 15px;
	  line-height: 18px;
	}
	#single-project .customer-comment p.label {
		font-size: 13px;
	    margin-top: 11px;
	}
	
	#single-new a.arrow.rightside, #single-new a.arrow.leftside {
	  top: 0px;
	}
	.bottom-nav-buttons .button-holder {
	  top: 55px;
	}
	.bottom-nav-buttons {
	  padding: 0 0 120px;
	}
	
	
/*	
	#about section.homeabout .content {
	  margin-left: 0;
	  padding-right: 0;
	  padding-top: 0;
	  position: static;
	  display: block;
	  text-align: center;
	  padding: 10px 23px 0;
		width: 100%;
	}
	#about section.homeabout .content h2 {
	  letter-spacing: 0;
	  font-size: 26px;
	}
	#about section.homeabout .background-photo {
	  background-position: center 35px;
	  position: static;
	  height: 385px;
	  width: 100%;
	  display: block;
	}
	#about section.homeabout .content p {
		line-height: 14px;
		font-size: 12px;
		padding-right: 0;
		margin-bottom: 17px;
	}
	#about section.homeabout .content hr {
	  margin: 13px auto 15px;
	}
	#about section.homeabout .content p.label {
	  margin: 8px 0 15px;
	  line-height: 17px;
	}
	#about section.homeabout {
	  margin-bottom: 0;
	}
*/	
	/* about slider */
	#about #about_accorderon .accordeon-holder {
		display: block;
		padding: 0;
	}
	#about #about_accorderon .accordeon-holder .kwicks-horizontal>li {
		float: none;
		position: relative;
		height: auto;
		width: 100% !important;
		left: 0 !important;
	}
	#about #about_accorderon .accordeon-holder .kwicks-horizontal>li .bg-wrapper{
		height: auto;
	}
	#about .kwicks .bottom-block {
		position: static;
		width: 100%;
		height: auto;
		background-color: rgba(0,0,0,0);
		padding-top: 323px;
		left: auto;
		top: auto;
	}
	#about .kwicks li .bg-wrapper .li-bg {
		height: 323px;
	}
	#about .slider-prev,
	#about .slider-next {
		display: none;
	}
	#about #about_accorderon .accordeon-holder .kwicks li .bg-wrapper:after {
		width: 0;
		height: 0;
		position: absolute;
		content: "";
		display: none;
		top: 0;
		left: 0;
		z-index: 1;
		background-color: rgba(0,0,0,0); 
	}
	section#about_accorderon .kwicks.fullscreen {
		max-height: none;
		height: auto;
	}	

	#about  #about_accorderon .kwicks .caption {
		position: static;
		width: 100%;
		height: auto;
		top: auto;
		left: auto;
		color: #fff;
		z-index: 2;
		text-align: center;
	}
	#about  #about_accorderon .kwicks .caption h3{ display: none; }
	#about  #about_accorderon .kwicks .caption hr{ display: none; }
	#about  #about_accorderon .kwicks .caption p{ color: black; }
	
	#about .kwicks .mob-caption {
		display: block;
		position: absolute;
		bottom: 0;
		background: rgba(0,0,0,0.6);
		padding: 5px;
		text-align: center;
		width: 100%;
	}
	#about .kwicks .mob-caption hr {
		border-color: #fff;
		margin: 10px auto;
		border-top-width: 1px;
		width: 50px;
	}
	#about .kwicks .mob-caption h3 {
		color: #fff;
		font-size: 27px;
		line-height: 27px;

	}
	.kwicks .caption p {
		line-height: 22px;
		padding: 8px 10px;
		font-style: normal;
		line-height: 18px;
		font-size: 15px;
		margin-bottom: 9px;
	}
/*  about video */

	#about .nataly-collage {
		margin-top: 10px;
	}
	
/* about team */

	.lookmore-holder {
		display: none;
	}

	.team-holder {
		margin: 0;
		background-color: #fff;
		padding-top: 29px;
	}
	.team-holder .title h3 {
	  font-size: 26px;
	}
	.team-holder .title hr {
		display: none;
	}
	.employee-item {
		background-color: #fff;
		margin-top: 8px;
		cursor: default;
	}
	.employee-item:hover {
		background-color: #fff;
	}	
	.employee-item .ava {
		width: 160px;
		height: 160px;
		margin: 14px auto 10px;
	}
	.employee-item h3.name {
	  margin: 0px 0 0px 0;
	}
	.employee-item .rank {
		font-size: 12px;
		font-style: normal;
		margin: 0px 0 17px;
	}
	.team-holder .right.browse {
		right: 4px;
		top: 90px;
	}
	.team-holder .left.browse {
		left: 4px;
		top: 90px;
	}
	.browse .slider-arrow-right, .browse .slider-arrow-left {
		width: 24px;
		height: 22px;
	}
	.team-holder .employee-item hr {
		display: block;
		border-top-width: 1px;
		width: 50px;
		margin: 0 auto 14px;
	}
	
	
/* services */
/* услуги страница */
	#services {
		padding: 0px 0 0;
	}
	#services .service {
	  margin-bottom: 5px;
	}
	#services .wrapper {
	  padding-left: 3px !important;
	  padding-right: 3px !important;
	}
	#services .services-height {
	  height: auto;
	}
	#services .service .photo {
	  position: static;
	  width: 100% !important;
	  height: 224px;
	}
	#services .service .description{
		position: static;
		width: 100% !important;
		padding: 0px;
		padding: 0 36px 0;
		text-align: center;
	}
	#services .service .table-of-content {
		position: static;
		width: 100% !important;
		display: none;
	}
	#services .service .table-of-content.show{
		display: block;
	}
	#services .service h3 {
		margin: 10px 0 13px;
	}
	
	#services .service .service-title {
		width: 100%;
		left: auto;
		position: absolute;
		top: 170px;
		color: #fff;
		text-align: center;
		margin: 0 -36px;
	}
	#services .service .service-title h2{
		margin-bottom: 13px;
		text-shadow: 0 0 30px rgba(0,0,0,0.8);
	}
	#services .service .service-title hr{
		border-top: 1px solid #fff;
		width: 50px;
		margin: 10px auto;
	}
	#services .service a.button.download {
	  display: inline-block;
	  padding: 0 19px;
	  height: 46px;
	  font-size: 14px;
	  line-height: 46px;
	}
	#services .service .show-content {
	  line-height: 35px;
	}
	#services .service .table-of-content .cell {
		padding: 20px 18px 20px 7px;
		font-size: 13px;
	}

	#services .service a.download {
		position: static;
		margin: 5px 0 20px;
		width: 216px;
	}

	#services .service p {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 17px;
	}
/* mobile */
#homeprojects #container .item .hover-text .table{
		display: none;
}
}

@media (max-width: 675px) {
	section.homeabout .content {
		width: 200px;
		left: 50%;
		text-align: center;
		height: 270px;
		bottom: 0;
		top: auto;
		margin-left: -100px;
  	}
	  	section.homeabout .content .Aligner-item {
			align-self: flex-end;
			width: 100%;	  		
	  	}

	#about section.homeabout .content { display: none; }

	section.homeabout .background-photo {
	    background-position: center bottom;
	    width: 94%;
	    background-size: contain;
	    left: -38%;
	}
	p.rmore {
		margin-top: -10px;
	}
}
